
<div id='ViewMap'>
    <div>
        <comp-google-map center='{ "lat": 39.9187725, "lng": 32.85806 }' zoom='11' map-type-id="roadmap"></comp-google-map>
    </div>
</div>

<style>
    #ViewMap {
    }
</style>

<script>
    window.ViewMap = function () {
        var self = {};
        self.opt = null;
        self.area = '_';
        self.title = 'xLng.ViewMap.Title';
        self.selector = '#ViewMap';
        self.selectorForMap = 'comp-google-map';

        self.markerCustomers = [];

        //------------------------
        async function fnReadCustomers() {
            const result = await fetch("/Panel/Maps/ReadCustomers")
                .then((response) => response.json());
            if (result.Success == true) {
                result.Data.forEach((item) => {
                    try {
                        let prms = {
                            'title': item.NameSurname,
                            'position': {
                                'lat': parseFloat(item.GeoLocation.coordinates[0]),
                                'lng': parseFloat(item.GeoLocation.coordinates[1])
                            },
                            'draggable': false,
                            'icon': '/img/maps/markers/marker.png'
                        };

                        // eğer daha önce eklenmemişse ekliyoruz, eklenmişse refresh ediyoruz
                        if (self.markerCustomers[item.Id] == null) {
                            let marker = self.compGoogleMap.fnAddMarker(prms);
                            self.markerCustomers[item.Id] = marker;
                        } else {
                            self.markerCustomers[item.Id].setOptions(prms);
                        }
                    } catch { };
                });
            }
        }

        self.prepare = async function () {
            //map comp instance
            self.compGoogleMap = document.querySelector(self.selector).querySelector(self.selectorForMap);

            window.onresize = () => {
                var newHeight = window.innerHeight - self.compGoogleMap.getBoundingClientRect().top - 21;
                self.compGoogleMap.setAttribute("height", newHeight);
            };

            setInterval(() => fnReadCustomers(), 1000 * 60);

            await fnReadCustomers();

            // Language
            mnLang.TranslateWithSelector(self.selector);
        };

        self.beforeShow = function (_opt) {
            //console.log(_opt);
            self.opt = $.extend({}, _opt);

            setTimeout(function () {
                $(window).resize();
            }, 500);
        };

        self.close = function () {
            if ($(self.selector).closest('.k-window-content').getKendoWindow()) {
                $(self.selector).closest('.k-window-content').getKendoWindow().close(); // popup ise
            } else {
                $(self.selector).closest('.mnPageView').find('#btnGeri').click(); // page ise
            }
        };

        return self;
    }();
</script>