
/*KENDO*/

.k-rounded-md {
    border-radius: 0px;
}

/*.k-grid-edit-row .mnSearchEdit {
    height: 33px !important;
}
*/


.k-grid-header #btnEkleToplu {
    background-color: transparent;
    color: black;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 4px;
    left: 5px;
}

.k-grid-header #btnEkle {
    background-color: transparent;
    color: cornflowerblue;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 4px;
    left: 5px;
}

    .k-grid-header #btnEkle:hover {
        background-color: cornflowerblue;
        color: white;
    }

.k-grid-header #btnSaveAsExcel {
    background-color: transparent;
    color: forestgreen;
    width: 32px;
    height: 32px;
    position: absolute;
    top: 4px;
    right: 23px;
}

    .k-grid-header #btnSaveAsExcel:hover {
        background-color: forestgreen;
        color: white;
    }

.k-grid-edit-command,
.k-grid-remove-command,
.k-grid-save-command,
.k-grid-cancel-command {
    width: 32px;
    height: 32px;
}

.k-grid-container {
    font-weight: 300;
}

    .k-grid-container table tr td input.form-control,
    .k-grid-container table tr td k-input-md{
        font-size: 0.8em;
    }

.k-button-solid-primary:hover {
    background-color: #094eb4;
}

/*.k-list-container.k-popup*/
.k-popup {
/*    border-color: #8fbceb;*/
    box-shadow: 1px 1px 15px #8fbceb;
  /*  padding-top: 0px;*/
}

.k-picker-solid{
    background-color:inherit;
}


.k-grid-content.k-auto-scrollable {
    overflow-y: hidden;
}

.k-grid-header {
    padding-right: 0px;
    border-right-color: transparent;
}


.k-grid .k-table-alt-row {
    background-color: transparent;
}

/*.k-grid tbody > tr:not(.k-detail-row):hover, .k-grid .k-table-tbody > .k-table-row:not(.k-detail-row).k-hover {
    background-color: transparent;
}*/

.k-grid .k-grid-header-locked, .k-grid .k-grid-content-locked, .k-grid .k-grid-header-locked .k-header, .k-grid .k-grid-content-locked td, .k-grid .k-grid-content-locked .k-table-td {
    border-color: #dee2e6;
}

.k-grid td, .k-grid .k-table-td, .k-grid .k-grid-content, .k-grid .k-grid-header-locked, .k-grid .k-grid-content-locked {
    border-color: transparent;
}