
<div id="tempHeader" class="mb-1" style="box-shadow: 0px 0px 9px #2678af;">
    <table style="width:100%;" class="">
        <tr id="trHeader">
            <td style="width:280px; padding-left:15px;">
                <div class="row gx-0">
                    <div class="col">
                        <div class="py-1">
                            <a href="#/">
                                <img src="../assets/img/logo/logo-yatay.png" alt="" style="height: 38px;" class="mr-auto">
                            </a>
                        </div>
                    </div>

                    <div class="col">
                        <nav class="navbar navbar-expand-md navbar-light">
                            <button id="btnLeftMenuGosterGizle" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sideBar" aria-controls="sideBar" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                        </nav>
                    </div>
                </div>
            </td>
            <td class="pr-1" style="">

                <div class="row gx-0">

                    <div class="col d-none d-md-block">
                        <a href="#/" class="btn font-weight-light">
                            <span class="" style="font-size:24px; vertical-align: middle; display: inline-flex; user-select: none;">
                                <span style="color:#0770b5;">[app.name]</span>
                            </span>
                        </a>
                    </div>

                    <div class="col pe-2">
                        <div class="btn-group float-end pe-2">

                            <!--<button id="btnBildirim" type="button" class="btn user-select-none mr-2 mn-opacity-050 mn-opacity-hover-1">
                                <i class="fa fa-bell-o" style=""></i>
                            </button>-->

                            <div class="dropdown">
                                <button class="btn dropdown-toggle mn-default-bg-color mn-default-text-color" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fa fa-user-o" style=""></i>
                                    <span id="spanUserName" class="pr-1 font-weight-light"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right shadow mn-default-bg-color mn-default-text-color" aria-labelledby="dropdownMenuButton1">
                                    <li class="text-center"><img name="imgKullaniciResim" src="/assets/img/photo/avatar.png" style="max-width:100px; max-height:123px;"></li>
                                    <li><a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-user-o"></i> <span data-langkey-text="xLng.comp-header.Profilim">Profile</span></a></li>
                                    <li><a class="dropdown-item" href="javascript:void(0)"><i class="fa fa-key"></i> <span data-langkey-text="xLng.comp-header.SifreDegistir">SifreDegistir</span></a></li>
                                    <li><a name="btnLogout" class="dropdown-item" href="javascript:void(0)"><i class="fa fa-power-off"></i> <span data-langkey-text="xLng.comp-header.Cikis">Cikis</span></a></li>
                                </ul>
                            </div>


                        </div>
                    </div>

                </div>


            </td>
        </tr>
    </table>
</div>