

<div id='UserForForm'>
    <div id='divButtonGroup' class='mnButtonGroup float-end'>
        <button id='btnKaydet' type='button' class='btn btn-outline-success text-nowrap' data-langkey-title='xLng.Kaydet'>
            <i class='bi bi-save'></i>
            <span data-langkey-text='xLng.Kaydet'></span>
        </button>
    </div>

    <div class='mnFormElementContainer' style='padding-bottom:15px;'>
        <div id='tabstrip'>
            <ul>
                <li data-tab-key='I'> <span data-langkey-text='xLng.User.FormViewTab.I'></span> </li>
            </ul>
            <div data-tab-key='I'>
                <div class='row'>
                    <div class='col-md-12'>

                    </div>

                    <div class='col-lg-6 col-md-12'>
                         <div name='divUserStatusId' class='mnFormElementDiv form-group row'>
                             <label class='col-sm-4 col-form-label'>
                                <span class='mn-required-span' data-langkey-text='xLng.User.UserStatusId'></span>
                             </label>
                             <div class='col-sm-8'>
                                 <input name='UserStatusId' data-bind='value:UserStatusId' />
                                 <span class='k-invalid-msg' data-for='UserStatusId'></span>
                             </div>
                         </div>

                         <div name='divUserTypeId' class='mnFormElementDiv form-group row'>
                             <label class='col-sm-4 col-form-label'>
                                <span class='mn-required-span' data-langkey-text='xLng.User.UserTypeId'></span>
                             </label>
                             <div class='col-sm-8'>
                                 <input name='UserTypeId' data-bind='value:UserTypeId' />
                                 <span class='k-invalid-msg' data-for='UserTypeId'></span>
                             </div>
                         </div>

                         <div name='divIsEmailConfirmed' class='mnFormElementDiv form-group row'>
                             <label class='col-sm-4 col-form-label'>
                             </label>
                             <div class='col-sm-8'>
                                <label style='font-weight:normal;'>
                                    <input name='IsEmailConfirmed' type='checkbox' data-bind='checked:IsEmailConfirmed' style='width: 24px; height: 24px; vertical-align: middle;'  />
                                    <span data-langkey-Text='xLng.User.IsEmailConfirmed'></span>
                                </label>
                             </div>
                         </div>

                         <div name='divNameSurname' class='mnFormElementDiv form-group row'>
                             <label class='col-sm-4 col-form-label'>
                                <span class='' data-langkey-text='xLng.User.NameSurname'></span>
                             </label>
                             <div class='col-sm-8'>
                                 <input name='NameSurname' type='text' class='form-control d-inline' data-bind='value:NameSurname' data-langkey-placeholder='xLng.User.NameSurname'   maxlength='100' autocomplete='off' />
                             </div>
                         </div>

                         <div name='divResidenceAddress' class='mnFormElementDiv form-group row'>
                             <label class='col-sm-4 col-form-label'>
                                <span class='' data-langkey-text='xLng.User.ResidenceAddress'></span>
                             </label>
                             <div class='col-sm-8'>
                                 <input name='ResidenceAddress' type='text' class='form-control d-inline' data-bind='value:ResidenceAddress' data-langkey-placeholder='xLng.User.ResidenceAddress'   maxlength='50' autocomplete='off' />
                             </div>
                         </div>

                         <div name='divGeoLocation' class='mnFormElementDiv form-group row'>
                             <label class='col-sm-4 col-form-label'>
                                <span class='' data-langkey-text='xLng.User.GeoLocation'></span>
                             </label>
                             <div class='col-sm-8' style='position:relative;' >
                                 <textarea name='GeoLocation' class='form-control' data-bind='value:GeoLocation' data-langkey-placeholder='xLng.User.GeoLocation'  style='height:38px;'  ></textarea>
                                 <button id='btnClearGeoLocation' class='btn btn-link btn-sm' style='position:absolute; top:-6px; right:7px;'>
                                     <i class='bi bi-trash'></i>
                                 </button>
                                 <div class='mt-1' style='height:76px;'>
                                     <comp-google-map name='GeoLocation' center='{ "lat": 39.9187725, "lng": 32.85806 }' zoom='11' map-type-id='roadmap'></comp-google-map>
                                 </div>
                             </div>
                         </div>

                         <div name='divEmail' class='mnFormElementDiv form-group row'>
                             <label class='col-sm-4 col-form-label'>
                                <span class='' data-langkey-text='xLng.User.Email'></span>
                             </label>
                             <div class='col-sm-8'>
                                 <input name='Email' type='text' class='form-control d-inline' data-bind='value:Email' data-langkey-placeholder='xLng.User.Email'   maxlength='100' autocomplete='off' />
                             </div>
                         </div>

                         <div name='divPassword' class='mnFormElementDiv form-group row'>
                             <label class='col-sm-4 col-form-label'>
                                <span class='' data-langkey-text='xLng.User.Password'></span>
                             </label>
                             <div class='col-sm-8'>
                                 <span name='ExternalResetPasswordButtonWrapperPassword' class='mnResetPasswordButton k-space-right w-100'>
                                    <input name='Password' type='password' class='form-control font-weight-light' data-bind='value:Password' data-langkey-placeholder='xLng.User.Password'  maxlength='100' autocomplete='off' />
                                 </span>
                                 <span class='k-invalid-msg' data-for='Password'></span>
                             </div>
                         </div>

                         <div name='divRoleIds' class='mnFormElementDiv form-group row'>
                             <label class='col-sm-4 col-form-label'>
                                <span class='' data-langkey-text='xLng.User.RoleIds'></span>
                             </label>
                             <div class='col-sm-8'>
                                 <input name='RoleIds' type='text' />
                                 <span class='k-invalid-msg' data-for='RoleIds'></span>
                             </div>
                         </div>

                         <div name='divGaSecretKey' class='mnFormElementDiv form-group row'>
                             <label class='col-sm-4 col-form-label'>
                                <span class='' data-langkey-text='xLng.User.GaSecretKey'></span>
                             </label>
                             <div class='col-sm-8'>
                                 <input name='GaSecretKey' type='text' class='form-control d-inline' data-bind='value:GaSecretKey' data-langkey-placeholder='xLng.User.GaSecretKey'   maxlength='100' autocomplete='off' />
                             </div>
                         </div>

                         <div name='divSessionGuid' class='mnFormElementDiv form-group row'>
                             <label class='col-sm-4 col-form-label'>
                                <span class='' data-langkey-text='xLng.User.SessionGuid'></span>
                             </label>
                             <div class='col-sm-8'>
                                 <input name='SessionGuid' type='text' class='form-control d-inline' data-bind='value:SessionGuid' data-langkey-placeholder='xLng.User.SessionGuid'  disabled   maxlength='100' autocomplete='off' />
                             </div>
                         </div>

                         <div name='divValidityDate' class='mnFormElementDiv form-group row'>
                             <label class='col-sm-4 col-form-label'>
                                <span class='' data-langkey-text='xLng.User.ValidityDate'></span>
                             </label>
                             <div class='col-sm-8'>
                                 <input name='ValidityDate' data-bind='value:ValidityDate' />
                                 <span class='k-invalid-msg' data-for='ValidityDate'></span>
                             </div>
                         </div>

                         <div name='divCreateDate' class='mnFormElementDiv form-group row'>
                             <label class='col-sm-4 col-form-label'>
                                <span class='' data-langkey-text='xLng.User.CreateDate'></span>
                             </label>
                             <div class='col-sm-8'>
                                 <input name='CreateDate' data-bind='value:CreateDate'  disabled />
                                 <span class='k-invalid-msg' data-for='CreateDate'></span>
                             </div>
                         </div>


                    </div>

                    <div class='col-lg-6 col-md-12'>
                         <div name='divAvatar' class='mnFormElementDiv form-group row'>
                             <label class='col-sm-4 col-form-label'>
                                <span class='' data-langkey-text='xLng.User.Avatar'></span>
                             </label>
                             <div class='col-sm-8' >
                                <img name='Avatar' data-bind='attr:{src:Avatar}' style='border:1px solid silver; cursor:pointer; height:150px; width:135px; ' />
                             </div>
                         </div>


                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
 window.UserForForm = function () {
     var self = {};
     self.opt = null;
     self.title = 'xLng.User.Title';
     self.selector = '#UserForForm';
     self.primaryKey = 'Id';
     self.tableName = 'User';
     self.apiUrlPrefix = '/Panel/Api' + self.tableName;

     function fCreateDataSource() {
         self.dataSource = new kendo.data.DataSource({
             transport: {
                 read: { type: 'POST', url: self.apiUrlPrefix + '/Read', dataType: 'json', contentType: 'application/json; charset=utf-8' },
                 create: { type: 'POST', url: self.apiUrlPrefix + '/Create', dataType: 'json', contentType: 'application/json; charset=utf-8' },
                 update: { type: 'POST', url: self.apiUrlPrefix + '/Update', dataType: 'json', contentType: 'application/json; charset=utf-8' },
                 destroy: { type: 'POST', url: self.apiUrlPrefix + '/Delete', dataType: 'json', contentType: 'application/json; charset=utf-8' },
                 parameterMap: function (data, operation) {
                     if (operation === 'read') {
                         return JSON.stringify(data);
                     }
                     else if (operation === 'create' || operation === 'update') {
                         data.ValidityDate = kendo.toString(data.ValidityDate, 's');
                         data.CreateDate = kendo.toString(data.CreateDate, 's');
                         data.UpdateDate = kendo.toString(data.UpdateDate, 's');
                         //Geometry data için
                         if (data.GeoLocation != null && data.GeoLocation.trim().length > 0) {
							data.GeoLocation = JSON.parse(data.GeoLocation);
                         } else {
							data.GeoLocation = null;
                         }

                         return JSON.stringify(data);
                     }
                     else if (operation === 'destroy') {
                         return JSON.stringify(data);
                     }
                 }
             },
             pageSize: 10, serverPaging: true, serverSorting: true, serverFiltering: true, serverGrouping: true, serverAggregates: true,
             schema: {
                 errors: 'Errors', data: 'Data', total: 'Total', aggregates: 'AggregateResults',
                 model: {
                     id: self.primaryKey,
                     fields: {
                         Id: { type: 'number', defaultValue: null },
                         UserStatusId: { type: 'number' },
                         UserTypeId: { type: 'number' },
                         IsEmailConfirmed: { type: 'boolean' },
                         NameSurname: { type: 'string' },
                         ResidenceAddress: { type: 'string' },
                         Avatar: { type: 'string' },
                         Email: { type: 'string' },
                         Password: { type: 'string' },
                         RoleIds: { type: 'string' },
                         GaSecretKey: { type: 'string' },
                         SessionGuid: { type: 'string', editable:false },
                         ValidityDate: { type: 'date' },
                         UniqueId: { type: 'string', editable:false },
                         CreateDate: { type: 'date', editable:false },
                         CreatedUserId: { type: 'number', editable:false },
                         UpdateDate: { type: 'date', editable:false },
                         UpdatedUserId: { type: 'number', editable:false },
                         CcUserStatusIdName: { type: 'string' },
                         CcUserTypeIdName: { type: 'string' },
                         CcIsEmailConfirmed: { type: 'string' },
                         CcRoleIdsName: { type: 'string' }
                     }
                 }
             },
             error: function (e) {
                 if (e.xhr === null) { mnNotification.warning(e.errors); } else { mnErrorHandler.Handle(e.xhr); }
                 //this.cancelChanges();
             },
             requestStart: function (e) {
                 setTimeout(function () {
                     kendo.ui.progress($(self.selector), true); //progress On
                 });
             },
             requestEnd: function (e) {
                 setTimeout(function () {
                     kendo.ui.progress($(self.selector), false); //progress Off
                 });

                 if (e.response !== undefined && e.response.Errors === null) {
                     if (e.type === 'create' || e.type === 'update' || e.type === 'destroy') {
                         mnLookup.listRead(self.tableName);
                     }
                     if (e.type === 'create') {
                         mnNotification.success(mnLang.TranslateWithWord('xLng.KayitEklendi'));
                     }
                     if (e.type === 'update') {
                         mnNotification.success(mnLang.TranslateWithWord('xLng.KayitDuzeltildi'));
                     }
                     if (e.type === 'destroy') {
                         mnNotification.success(mnLang.TranslateWithWord('xLng.KayitSilindi'));
                     }

                     self.msRoleIds.value([]);
                     if (e.response.Data.length > 0) {
                         if (e.response.Data[0].RoleIds !== null || undefined || '') {
                            self.msRoleIds.value(e.response.Data[0].RoleIds.split(','));
                         }

                     }
                 }
             },
             change: function (e) {
                 if (e.items[0] !== undefined) {
                     if (e.items[0].get(self.primaryKey) === null) {
                         $.ajax({
                             url: self.apiUrlPrefix + '/GetByNew', type: 'GET', dataType: 'json', async: false,
                             success: function (result) {
                                 e.items[0].Id = result.Id;
                                 e.items[0].UserStatusId = result.UserStatusId;
                                 e.items[0].UserTypeId = result.UserTypeId;
                                 e.items[0].IsEmailConfirmed = result.IsEmailConfirmed;
                                 e.items[0].NameSurname = result.NameSurname;
                                 e.items[0].ResidenceAddress = result.ResidenceAddress;
                                 e.items[0].Avatar = result.Avatar;
                                 e.items[0].GeoLocation = result.GeoLocation;
                                 e.items[0].Email = result.Email;
                                 e.items[0].Password = result.Password;
                                 e.items[0].RoleIds = result.RoleIds;
                                 e.items[0].GaSecretKey = result.GaSecretKey;
                                 e.items[0].SessionGuid = result.SessionGuid;
                                 e.items[0].ValidityDate = kendo.parseDate(result.ValidityDate);
                                 e.items[0].UniqueId = result.UniqueId;
                                 e.items[0].CreateDate = kendo.parseDate(result.CreateDate);
                                 e.items[0].CreatedUserId = result.CreatedUserId;
                                 e.items[0].UpdateDate = kendo.parseDate(result.UpdateDate);
                                 e.items[0].UpdatedUserId = result.UpdatedUserId;
                                 //computed alanların tanımlanması
                                 e.items[0].CcUserStatusIdName = result.CcUserStatusIdName;
                                 e.items[0].CcUserTypeIdName = result.CcUserTypeIdName;
                                 e.items[0].CcIsEmailConfirmed = result.CcIsEmailConfirmed;
                                 e.items[0].CcRoleIdsName = result.CcRoleIdsName;
                                 //filterdan gelen default value set için
                                 $(self.opt.filters).each(function (index, row) {
                                     if (row.filterColumnName !== 'Id') {
                                        e.items[0].set(row.filterColumnName, row.filterValue);
                                     }
                                 });

                                 //(MapEditor için, new row da ilk durum set ediliyor)
                                 //(multi select için)
                                 self.msRoleIds.value([]);
                                 if (e.items[0].RoleIds !== null || undefined || '') {
                                     self.msRoleIds.value(e.items[0].RoleIds.split(','));
                                 }
                             },
                             error: function (xhr, status) {
                                 mnErrorHandler.Handle(xhr);
                             }
                         });
                     }
                     // Bind
                     kendo.bind($(self.selector), e.items[0]);

                     //validator refresh
                     setTimeout(function () {
                        fValidateAll();
                     },1000);

                 }

                 // Yetki
                 fYetkiUygula();

                 // ve gerekebilecek diğer işlemler
                 // ...
             }
         });
     }

     function fValidateAll() {
        $(self.selector).find('#tabstrip ul li[data-tab-key]').removeClass('mn-invalid');
        let rValid = true;

        if (!self.validatorI.validate()) {
            rValid = false;
            $(self.selector).find('#tabstrip ul li[data-tab-key=I]').addClass('mn-invalid')
        }
        
        return rValid
     }

     function fCreateFormElements() {
         // tabstrip
         self.tabstrip = $(self.selector).find('#tabstrip').kendoTabStrip({
             animation: false, tabPosition: 'top'
         }).getKendoTabStrip();
         self.tabstrip.select(0);

         //create validators
         self.validatorI = mnApp.createValidator($(self.selector).find('.mnFormElementContainer div[data-tab-key=I]'), mnApp.validatorErrorTemplateIconMsg);

         //butonlar
         $(self.selector).find('#btnKaydet').click(function (e) {
             mnApi.controlDisableWait($(e.target));
             if (fValidateAll()) {
                 if (self.dataSource.at(0).dirty) {
                     self.dataSource.sync();
                 } else {
                     mnAlert.warning(mnLang.TranslateWithWord('xLng.KayyittaDegisiklikYapmadiniz'));
                 }
             } else {
                 mnAlert.warning(mnLang.TranslateWithWord('xLng.DoldurulmasiGerekenAlanlarVar'));
             }
         });

         //Diğer Form elementleri
         $(self.selector).find('[name=UserStatusId]').kendoDropDownList({
             valuePrimitive: true,
             optionLabel: mnLang.TranslateWithWord('xLng.Seciniz'),
             dataValueField: 'value',
             dataTextField: 'text',
             dataSource: mnLookup.listLoad({
                 ViewName: 'UserForForm',
                 ViewFieldName: 'UserStatusId',
                 TableName: 'UserStatus',
                 ValueField: 'Id',
                 TextField: 'Name',
                 OtherFields: '',
                 Filters: [
                     { Field: 'Id', Operator: '>=', Value: '0' }
                 ],
                 Sorts: [
                                 { Field: 'Name', Dir: 'asc' }
                 ]
             }),
             open: function (e) {
             },
             close: function (e) {
             }
         }).getKendoDropDownList();

         $(self.selector).find('[name=UserTypeId]').kendoDropDownList({
             valuePrimitive: true,
             optionLabel: mnLang.TranslateWithWord('xLng.Seciniz'),
             dataValueField: 'value',
             dataTextField: 'text',
             dataSource: mnLookup.listLoad({
                 ViewName: 'UserForForm',
                 ViewFieldName: 'UserTypeId',
                 TableName: 'UserType',
                 ValueField: 'Id',
                 TextField: 'Name',
                 OtherFields: '',
                 Filters: [
                     { Field: 'Id', Operator: '>=', Value: '0' }
                 ],
                 Sorts: [
                                 { Field: 'Name', Dir: 'asc' }
                 ]
             }),
             open: function (e) {
             },
             close: function (e) {
             }
         }).getKendoDropDownList();

         $(self.selector).find('[name=Avatar]').click(function (e) {
             $elmImg = $("<input id='imageFile' type='file' accept='image/*' style='display:none;' />"); 
             $elmImg.change(function () {
                if (this.files && this.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        if (self.dataSource.at(0) !== undefined) {
                            self.dataSource.at(0).set('Avatar', e.target.result);
                        }
                    }
                    reader.readAsDataURL(this.files[0]);
                    this.value = null; //aynı resmi tekrar seçtiğinde event çalışabilmesi için son seçileni siliyoruz value dan
                }
             });
             $elmImg.click();
         });

		 //TextArea üzerinde MapEditor için data clear
         $(self.selector).find('#btnClearGeoLocation').click(function (e) {
            var dataItem = self.dataSource.at(0);
            dataItem.set('GeoLocation', null);
         });

         //mapEditor instance
         self.mapEditorGeoLocation = $(self.selector).find('comp-google-map[name=GeoLocation]').get(0);

         self.msRoleIds = $(self.selector).find('[name=RoleIds]').kendoMultiSelect({
             valuePrimitive: true,
             autoClose: false,
             optionLabel: { value: '', text: mnLang.TranslateWithWord('xLng.Seciniz') },
             dataValueField: 'value',
             dataTextField: 'text',
             dataSource: mnLookup.listLoad({
                 ViewName: 'UserForForm',
                 ViewFieldName: 'RoleIds',
                 TableName: 'Role',
                 ValueField: 'Id',
                 TextField: 'Name',
                 OtherFields: '',
                 Filters: [
                     { Field: 'LineNumber', Operator: '>=', Value: '-8' }
                 ],
                 Sorts: [
                                 { Field: 'Id', Dir: 'asc' }
                 ]
             }),
             change: function (e) {
                 if (self.dataSource.at(0) !== undefined) {
                     self.dataSource.at(0).set('RoleIds', this.value().join());
                 }
             },
             open: function (e) {
             },
             close: function (e) {
             }
         }).getKendoMultiSelect();

         $(self.selector).find('[name=ValidityDate]').kendoDatePicker({
            componentType: mnApp.kendoDatePiker_ComponentType,
            dateInput: mnApp.kendoDatePiker_DateInput
         }).getKendoDatePicker();

         $(self.selector).find('[name=CreateDate]').kendoDateTimePicker({
             componentType: mnApp.kendoDateTimePiker_ComponentType,
             dateInput: mnApp.kendoDateTimePiker_DateInput
         }).getKendoDateTimePicker();

     }

     function fSetAtributeFormElements() {
         $(self.selector).find('[name=UserStatusId]').attr('required', 'required');
         $(self.selector).find('[name=UserTypeId]').attr('required', 'required');
     }

     function fYetkiUygula() {
         //Standart Yetkiler
         var _C = mnUser.isYetkili(self.tableName + '.D_C.');
         var _U = mnUser.isYetkili(self.tableName + '.D_U.');
         var _D = mnUser.isYetkili(self.tableName + '.D_D.');

         //ek yetkiler için)
         //...

         //Form İçin
         if (_C || _U) {
             $(self.selector).find('#btnKaydet').show();
         } else {
             $(self.selector).find('#btnKaydet').hide();
         }

        //form element görünümleri
        var fieldList = [];
        fieldList.push({ 'Name': 'UserStatusId', 'Visible': '11,21,31,41'.indexOf(mnUser.Info.nYetkiGrup) >= 0 });
        fieldList.push({ 'Name': 'UserTypeId', 'Visible': '11,21,31,41'.indexOf(mnUser.Info.nYetkiGrup) >= 0 });
        fieldList.push({ 'Name': 'IsEmailConfirmed', 'Visible': '11,21,31,41'.indexOf(mnUser.Info.nYetkiGrup) >= 0 });
        fieldList.push({ 'Name': 'NameSurname', 'Visible': '11,21,31,41'.indexOf(mnUser.Info.nYetkiGrup) >= 0 });
        fieldList.push({ 'Name': 'ResidenceAddress', 'Visible': '11,21,31,41'.indexOf(mnUser.Info.nYetkiGrup) >= 0 });
        fieldList.push({ 'Name': 'Avatar', 'Visible': '11,21,31,41'.indexOf(mnUser.Info.nYetkiGrup) >= 0 });
        fieldList.push({ 'Name': 'GeoLocation', 'Visible': '11,21,31,41'.indexOf(mnUser.Info.nYetkiGrup) >= 0 });
        fieldList.push({ 'Name': 'Email', 'Visible': '11,21,31,41'.indexOf(mnUser.Info.nYetkiGrup) >= 0 });
        fieldList.push({ 'Name': 'Password', 'Visible': '11,21,31,41'.indexOf(mnUser.Info.nYetkiGrup) >= 0 });
        fieldList.push({ 'Name': 'RoleIds', 'Visible': '11,21,31,41'.indexOf(mnUser.Info.nYetkiGrup) >= 0 });
        fieldList.push({ 'Name': 'GaSecretKey', 'Visible': '11,21,31,41'.indexOf(mnUser.Info.nYetkiGrup) >= 0 });
        fieldList.push({ 'Name': 'SessionGuid', 'Visible': '11,21,31,41'.indexOf(mnUser.Info.nYetkiGrup) >= 0 });
        fieldList.push({ 'Name': 'ValidityDate', 'Visible': '11,21,31,41'.indexOf(mnUser.Info.nYetkiGrup) >= 0 });
        fieldList.push({ 'Name': 'CreateDate', 'Visible': '11,21,31,41'.indexOf(mnUser.Info.nYetkiGrup) >= 0 });

        for (var i in fieldList) {
            var $elm = $(self.selector).find('.mnFormElementContainer .mnFormElementDiv[name=div' + fieldList[i].Name + ']');
            if (fieldList[i].Visible) {
                $elm.show();
            } else {
                $elm.hide();
            }
        }

     }


     function fGorunurlukUygula(dataItem) {
        if (dataItem != null && dataItem != undefined) {
            //invisibility
            //visibility
        }
     }

     self.prepare = function () {
         // form element atribute set
         fSetAtributeFormElements();
         // DataSource
         fCreateDataSource();
         // form Elementler
         fCreateFormElements();
         // Language
         mnLang.TranslateWithSelector(self.selector);
     };

     self.beforeShow = function (_opt) {
         self.opt = $.extend({}, _opt);

         if (self.opt.qprms.Id !== null && self.opt.qprms.Id > 0) {
             self.dataSource.filter({ field: self.primaryKey, operator: 'eq', value: self.opt.qprms.Id });
         } else {
             self.dataSource.data([]); // eski data varsa işleme girmemesi için
             self.dataSource.add();
         }

         self.tabstrip.select(0);
     };

     return self;
 }();
</script>
