@{
	ViewData["Title"] = "Home Page";
}

<style>
	#viewCodeGenerator  {
	}
</style>

<div id="viewCodeGenerator" class="container">

	<div class="py-2"></div>

	<div class="row">
		@foreach (var item in (List<WebAppCodeGen.Models.MoSolution>)ViewBag.Solutions)
		{
			<div class="col-md-10">
				<div class="card">
					<div class="card-body">
						<h5 class="card-title">@item.Name</h5>
						<p class="card-text">@item.Directory</p>
						<p class="card-text">@item.MainConnectionString</p>
						<p class="card-text">@item.LogConnectionString</p>
						<a href="/Home/TableList?solutionName=@item.Name" class="btn btn-primary">Go</a>
					</div>
				</div>
			</div>
		}
	</div>
</div>

<script>

	document.addEventListener("DOMContentLoaded", function () {
		viewCodeGenerator.prepare();
	});

	window.viewCodeGenerator = function () {
		var self = {};
		self.selector = "#viewCodeGenerator";

		self.prepare = function () {

		};

		return self;
	}();

</script>

