
@{
    Layout = "_Layout";
}

<div id="divCompare" class="container">

    <h2>DB Compare</h2>

    <div>
        <div class='form-group row'>
            <label class='col-sm-2 col-form-label'>Con.1</label>
            <div class='col-sm-10'>
                <input id='kaynak' type='text' class='k-textbox' value="@ViewBag.kaynak" />
            </div>
        </div>

        <div class='form-group row'>
            <label class='col-sm-2 col-form-label'>Con.2</label>
            <div class='col-sm-10'>
                <input id='hedef' type='text' class='k-textbox' value="@ViewBag.hedef" />
            </div>
        </div>
    </div>

    <div>
        <button id="btnCompare" type="button" class="btn btn-danger">Compare</button>
        <button id="btnTogle" type="button" class="btn btn-warning">Togle</button>
    </div>

    <div>
        <textarea id="textAreaSonuc" disabled style="padding:15px; width:100%; height:500px; border:1px solid gainsboro; outline:none; background-color:transparent;"></textarea>
    </div>

</div>

<script>
    window.addEventListener('load', (event) => {

        $("#btnCompare").click(function () {
            $("#textAreaSonuc").text('');
            var _data = {
                _kaynak: $('#kaynak').val(),
                _hedef: $('#hedef').val()
            };

            $.ajax({
                url: "/Compare/Run",
                data: _data,
                type: "POST", dataType: "json",
                beforeSend: function (jqXHR, settings) {
                    kendo.ui.progress($("#divCompare"), true); //progress On
                },
                success: function (result, textStatus, jqXHR) {
                    kendo.ui.progress($("#divCompare"), false); //progress Off
                    $("#textAreaSonuc").text(result.Mesaj);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    kendo.ui.progress($("#divCompare"), false); //progress Off
                    alert("(" + jqXHR.status + ") " + jqXHR.statusText + "\n" + this.url);
                }
            });

        });

        $("#btnTogle").click(function () {
            var sK = $("#kaynak").val();
            var sH = $("#hedef").val();
            $("#kaynak").val(sH);
            $("#hedef").val(sK);
        });
    });

</script>