

<div id='KampanyaForForm'>
    <div id='divButtonGroup' class='mnButtonGroup float-end'>
        <button id='btnKaydet' type='button' class='btn btn-outline-success text-nowrap' data-langkey-title='xLng.Kaydet'> <i class='fa fa-save'></i> </button>
    </div>

    <div class='mnFormElementContainer' style='padding-bottom:15px;'>
        <div id='tabstrip'>
            <ul>
                <li data-tab-key='I'> <span data-langkey-text='xLng.Kampanya.FormViewTab.I'></span> </li>
            </ul>
            <div data-tab-key='I'>
                <div class='row'>
                    <div class='col-md-12'>
                         <div name='divDurum' class='mnFormElementDiv form-group row'>
                             <label class='col-sm-4 col-md-2 col-form-label'>
                             </label>
                             <div class='col-sm-8 col-md-10'>
                                <label style='font-weight:normal;'>
                                    <input name='Durum' type='checkbox' data-bind='checked:Durum' style='width: 24px; height: 24px; vertical-align: middle;'  />
                                    <span data-langkey-Text='xLng.Kampanya.Durum'></span>
                                </label>
                             </div>
                         </div>

                         <div name='divKampanyaIndirimTipiId' class='mnFormElementDiv form-group row'>
                             <label class='col-sm-4 col-md-2 col-form-label'>
                                <span class='mn-required-span' data-langkey-text='xLng.Kampanya.KampanyaIndirimTipiId'></span>
                             </label>
                             <div class='col-sm-8 col-md-10'>
                                 <input name='KampanyaIndirimTipiId' data-bind='value:KampanyaIndirimTipiId' />
                                 <span class='k-invalid-msg' data-for='KampanyaIndirimTipiId'></span>
                             </div>
                         </div>

                         <div name='divKampanyaTurId' class='mnFormElementDiv form-group row'>
                             <label class='col-sm-4 col-md-2 col-form-label'>
                                <span class='mn-required-span' data-langkey-text='xLng.Kampanya.KampanyaTurId'></span>
                             </label>
                             <div class='col-sm-8 col-md-10'>
                                 <input name='KampanyaTurId' data-bind='value:KampanyaTurId' />
                                 <span class='k-invalid-msg' data-for='KampanyaTurId'></span>
                             </div>
                         </div>

                         <div name='divUyeGrupIds' class='mnFormElementDiv form-group row'>
                             <label class='col-sm-4 col-md-2 col-form-label'>
                                <span class='' data-langkey-text='xLng.Kampanya.UyeGrupIds'></span>
                             </label>
                             <div class='col-sm-8 col-md-10'>
                                 <input name='UyeGrupIds' type='text' />
                                 <span class='k-invalid-msg' data-for='UyeGrupIds'></span>
                             </div>
                         </div>

                         <div name='divAd' class='mnFormElementDiv form-group row'>
                             <label class='col-sm-4 col-md-2 col-form-label'>
                                <span class='' data-langkey-text='xLng.Kampanya.Ad'></span>
                             </label>
                             <div class='col-sm-8 col-md-10'>
                                 <input name='Ad' type='text' class='form-control d-inline' data-bind='value:Ad' data-langkey-placeholder='xLng.Kampanya.Ad'   maxlength='100' autocomplete='off' />
                             </div>
                         </div>

                         <div name='divGorselUrl' class='mnFormElementDiv form-group row'>
                             <label class='col-sm-4 col-md-2 col-form-label'>
                                <span class='' data-langkey-text='xLng.Kampanya.GorselUrl'></span>
                             </label>
                             <div class='col-sm-8 col-md-10'>
                                 <div name='FileSearchEditWrapperGorselUrl' class='mnSearchEdit k-space-right'>
                                    <input name='GorselUrl' class='form-control border-0 font-weight-light' type='text' data-bind='value:GorselUrl' data-langkey-placeholder='xLng.Kampanya.GorselUrl'  maxlength='300' />
                                    <button name='btnPreview' class='btn btn-link'> <i class='fa fa-fw fa-picture-o'></i> </button>
                                    <button name='btnClear' class='btn btn-light'> <i class='fa fa-fw fa-close'></i> </button>
                                    <button name='btnSearch' class='btn btn-light'> <i class='fa fa-fw fa-search'></i> </button>
                                 </div>
                                 <span class='k-invalid-msg' data-for='GorselUrl'></span>
                             </div>
                         </div>

                         <div name='divSayfaIcerik' class='mnFormElementDiv form-group row'>
                             <label class='col-sm-4 col-md-2 col-form-label'>
                                <span class='' data-langkey-text='xLng.Kampanya.SayfaIcerik'></span>
                             </label>
                             <div class='col-sm-8 col-md-10'>
                                 <textarea name='SayfaIcerik' type='text' class='form-control' data-bind='value:SayfaIcerik' data-langkey-placeholder='xLng.Kampanya.SayfaIcerik' style='height:180px;'></textarea>
                             </div>
                         </div>

                         <div name='divBaslangicTarihi' class='mnFormElementDiv form-group row'>
                             <label class='col-sm-4 col-md-2 col-form-label'>
                                <span class='' data-langkey-text='xLng.Kampanya.BaslangicTarihi'></span>
                             </label>
                             <div class='col-sm-8 col-md-10'>
                                 <input name='BaslangicTarihi' data-bind='value:BaslangicTarihi' />
                                 <span class='k-invalid-msg' data-for='BaslangicTarihi'></span>
                             </div>
                         </div>

                         <div name='divBitisTarihi' class='mnFormElementDiv form-group row'>
                             <label class='col-sm-4 col-md-2 col-form-label'>
                                <span class='' data-langkey-text='xLng.Kampanya.BitisTarihi'></span>
                             </label>
                             <div class='col-sm-8 col-md-10'>
                                 <input name='BitisTarihi' data-bind='value:BitisTarihi' />
                                 <span class='k-invalid-msg' data-for='BitisTarihi'></span>
                             </div>
                         </div>

                         <div name='divIndirimDegeri' class='mnFormElementDiv form-group row'>
                             <label class='col-sm-4 col-md-2 col-form-label'>
                                <span class='mn-required-span' data-langkey-text='xLng.Kampanya.IndirimDegeri'></span>
                             </label>
                             <div class='col-sm-8 col-md-10'>
                                 <input name='IndirimDegeri' type='number' data-bind='value:IndirimDegeri' data-langkey-placeholder='xLng.Kampanya.IndirimDegeri' />
                                 <span class='k-invalid-msg' data-for='IndirimDegeri'></span>
                             </div>
                         </div>

                         <div name='divCokluKullanim' class='mnFormElementDiv form-group row'>
                             <label class='col-sm-4 col-md-2 col-form-label'>
                             </label>
                             <div class='col-sm-8 col-md-10'>
                                <label style='font-weight:normal;'>
                                    <input name='CokluKullanim' type='checkbox' data-bind='checked:CokluKullanim' style='width: 24px; height: 24px; vertical-align: middle;'  />
                                    <span data-langkey-Text='xLng.Kampanya.CokluKullanim'></span>
                                </label>
                             </div>
                         </div>


                    </div>

                    <div class='col-lg-6 col-md-12'>

                    </div>

                    <div class='col-lg-6 col-md-12'>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
 window.KampanyaForForm = function () {
     var self = {};
     self.opt = null;
     self.title = 'xLng.Kampanya.Title';
     self.selector = '#KampanyaForForm';
     self.primaryKey = 'Id';
     self.tableName = 'Kampanya';
     self.apiUrlPrefix = '/Panel/Api' + self.tableName;

     function fCreateDataSource() {
         self.dataSource = new kendo.data.DataSource({
             transport: {
                 read: { type: 'POST', url: self.apiUrlPrefix + '/Read', dataType: 'json', contentType: 'application/json; charset=utf-8' },
                 create: { type: 'POST', url: self.apiUrlPrefix + '/Create', dataType: 'json', contentType: 'application/json; charset=utf-8' },
                 update: { type: 'POST', url: self.apiUrlPrefix + '/Update', dataType: 'json', contentType: 'application/json; charset=utf-8' },
                 destroy: { type: 'POST', url: self.apiUrlPrefix + '/Delete', dataType: 'json', contentType: 'application/json; charset=utf-8' },
                 parameterMap: function (data, operation) {
                     if (operation === 'read') {
                         return kendo.stringify(data);
                     }
                     else if (operation === 'create' || operation === 'update') {
                         data.BaslangicTarihi = kendo.toString(data.BaslangicTarihi, 's');
                         data.BitisTarihi = kendo.toString(data.BitisTarihi, 's');

                         return kendo.stringify(data);
                     }
                     else if (operation === 'destroy') {
                         return kendo.stringify(data);
                     }
                 }
             },
             pageSize: 10, serverPaging: true, serverSorting: true, serverFiltering: true, serverGrouping: true, serverAggregates: true,
             schema: {
                 errors: 'Errors', data: 'Data', total: 'Total', aggregates: 'AggregateResults',
                 model: {
                     id: self.primaryKey,
                     fields: {
                         Id: { type: 'number', defaultValue: null },
                         Durum: { type: 'boolean' },
                         KampanyaIndirimTipiId: { type: 'number' },
                         KampanyaTurId: { type: 'number' },
                         UyeGrupIds: { type: 'string' },
                         Ad: { type: 'string' },
                         AdEng: { type: 'string' },
                         GorselUrl: { type: 'string' },
                         SayfaIcerik: { type: 'string' },
                         SayfaIcerikEng: { type: 'string' },
                         BaslangicTarihi: { type: 'date' },
                         BitisTarihi: { type: 'date' },
                         IndirimDegeri: { type: 'number' },
                         CokluKullanim: { type: 'boolean' },
                         CcDurum: { type: 'string' },
                         CcKampanyaIndirimTipiIdAd: { type: 'string' },
                         CcKampanyaTurIdAd: { type: 'string' },
                         CcUyeGrupIdsAd: { type: 'string' },
                         CcCokluKullanim: { type: 'string' }
                     }
                 }
             },
             error: function (e) {
                 if (e.xhr === null) { mnNotification.warning(e.errors); } else { mnErrorHandler.Handle(e.xhr); }
                 //this.cancelChanges();
             },
             requestStart: function (e) {
                 setTimeout(function () {
                     kendo.ui.progress($(self.selector), true); //progress On
                 });
             },
             requestEnd: function (e) {
                 setTimeout(function () {
                     kendo.ui.progress($(self.selector), false); //progress Off
                 });

                 if (e.response !== undefined && e.response.Errors === null) {
                     if (e.type === 'create' || e.type === 'update' || e.type === 'destroy') {
                         mnLookup.listRead(self.tableName);
                     }
                     if (e.type === 'create') {
                         mnNotification.success(mnLang.TranslateWithWord('xLng.KayitEklendi'));
                     }
                     if (e.type === 'update') {
                         mnNotification.success(mnLang.TranslateWithWord('xLng.KayitDuzeltildi'));
                     }
                     if (e.type === 'destroy') {
                         mnNotification.success(mnLang.TranslateWithWord('xLng.KayitSilindi'));
                     }

                     self.msUyeGrupIds.value([]);
                     if (e.response.Data.length > 0) {
                         if (e.response.Data[0].UyeGrupIds !== null || undefined || '') {
                            self.msUyeGrupIds.value(e.response.Data[0].UyeGrupIds.split(','));
                         }

                     }
                 }
             },
             change: function (e) {
                 if (e.items[0] !== undefined) {
                     if (e.items[0].get(self.primaryKey) === null) {
                         $.ajax({
                             url: self.apiUrlPrefix + '/GetByNew', type: 'GET', dataType: 'json', async: false,
                             success: function (result) {
                                 e.items[0].Id = result.Id;
                                 e.items[0].Durum = result.Durum;
                                 e.items[0].KampanyaIndirimTipiId = result.KampanyaIndirimTipiId;
                                 e.items[0].KampanyaTurId = result.KampanyaTurId;
                                 e.items[0].UyeGrupIds = result.UyeGrupIds;
                                 e.items[0].Ad = result.Ad;
                                 e.items[0].AdEng = result.AdEng;
                                 e.items[0].GorselUrl = result.GorselUrl;
                                 e.items[0].SayfaIcerik = result.SayfaIcerik;
                                 e.items[0].SayfaIcerikEng = result.SayfaIcerikEng;
                                 e.items[0].BaslangicTarihi = kendo.parseDate(result.BaslangicTarihi);
                                 e.items[0].BitisTarihi = kendo.parseDate(result.BitisTarihi);
                                 e.items[0].IndirimDegeri = result.IndirimDegeri;
                                 e.items[0].CokluKullanim = result.CokluKullanim;
                                 //computed alanların tanımlanması
                                 e.items[0].CcDurum = result.CcDurum;
                                 e.items[0].CcKampanyaIndirimTipiIdAd = result.CcKampanyaIndirimTipiIdAd;
                                 e.items[0].CcKampanyaTurIdAd = result.CcKampanyaTurIdAd;
                                 e.items[0].CcUyeGrupIdsAd = result.CcUyeGrupIdsAd;
                                 e.items[0].CcCokluKullanim = result.CcCokluKullanim;
                                 //filterdan gelen default value set için
                                 $(self.opt.filters).each(function (index, row) {
                                     if (row.filterColumnName !== 'Id') {
                                        e.items[0].set(row.filterColumnName, row.filterValue);
                                     }
                                 });

                                 //(multi select için)
                                 self.msUyeGrupIds.value([]);
                                 if (e.items[0].UyeGrupIds !== null || undefined || '') {
                                     self.msUyeGrupIds.value(e.items[0].UyeGrupIds.split(','));
                                 }
                             },
                             error: function (xhr, status) {
                                 mnErrorHandler.Handle(xhr);
                             }
                         });
                     }
                     // Bind
                     kendo.bind($(self.selector), e.items[0]);

                     //validator refresh
                     setTimeout(function () {
                        fValidateAll();
                     },1000);

                 }

                 // Yetki
                 fYetkiUygula();

                 // ve gerekebilecek diğer işlemler
                 // ...
             }
         });
     }

     function fValidateAll() {
        $(self.selector).find('#tabstrip ul li[data-tab-key]').removeClass('mn-invalid');
        let rValid = true;

        if (!self.validatorI.validate()) {
            rValid = false;
            $(self.selector).find('#tabstrip ul li[data-tab-key=I]').addClass('mn-invalid')
        }
        
        return rValid
     }

     function fCreateFormElements() {
         // tabstrip
         self.tabstrip = $(self.selector).find('#tabstrip').kendoTabStrip({
             animation: false, tabPosition: 'top'
         }).getKendoTabStrip();
         self.tabstrip.select(0);

         //create validators
         self.validatorI = mnApp.createValidator($(self.selector).find('.mnFormElementContainer div[data-tab-key=I]'), mnApp.validatorErrorTemplateIconMsg);

         //butonlar
         $(self.selector).find('#btnKaydet').click(function (e) {
             mnApi.controlDisableWait($(e.target));
             if (fValidateAll()) {
                 if (self.dataSource.at(0).dirty) {
                     self.dataSource.sync();
                 } else {
                     mnAlert.warning(mnLang.TranslateWithWord('xLng.KayyittaDegisiklikYapmadiniz'));
                 }
             } else {
                 mnAlert.warning(mnLang.TranslateWithWord('xLng.DoldurulmasiGerekenAlanlarVar'));
             }
         });

         //Diğer Form elementleri
         $(self.selector).find('[name=KampanyaIndirimTipiId]').kendoDropDownList({
             valuePrimitive: true,
             optionLabel: mnLang.TranslateWithWord('xLng.Seciniz'),
             dataValueField: 'value',
             dataTextField: 'text',
             dataSource: mnLookup.listLoad({
                 ViewName: 'KampanyaForForm',
                 ViewFieldName: 'KampanyaIndirimTipiId',
                 TableName: 'KampanyaIndirimTipi',
                 ValueField: 'Id',
                 TextField: 'Ad',
                 OtherFields: '',
                 Filters: [
                     { Field: 'Id', Operator: '>=', Value: '0' }
                 ],
                 Sorts: [
                                 { Field: 'Ad', Dir: 'asc' }
                 ]
             }),
             open: function (e) {
             },
             close: function (e) {
             }
         }).getKendoDropDownList();

         $(self.selector).find('[name=KampanyaTurId]').kendoDropDownList({
             valuePrimitive: true,
             optionLabel: mnLang.TranslateWithWord('xLng.Seciniz'),
             dataValueField: 'value',
             dataTextField: 'text',
             dataSource: mnLookup.listLoad({
                 ViewName: 'KampanyaForForm',
                 ViewFieldName: 'KampanyaTurId',
                 TableName: 'KampanyaTur',
                 ValueField: 'Id',
                 TextField: 'Ad',
                 OtherFields: '',
                 Filters: [
                     { Field: 'Id', Operator: '>=', Value: '0' }
                 ],
                 Sorts: [
                                 { Field: 'Ad', Dir: 'asc' }
                 ]
             }),
             open: function (e) {
             },
             close: function (e) {
             }
         }).getKendoDropDownList();

         self.msUyeGrupIds = $(self.selector).find('[name=UyeGrupIds]').kendoMultiSelect({
             valuePrimitive: true,
             autoClose: false,
             optionLabel: { value: '', text: mnLang.TranslateWithWord('xLng.Seciniz') },
             dataValueField: 'value',
             dataTextField: 'text',
             dataSource: mnLookup.listLoad({
                 ViewName: 'KampanyaForForm',
                 ViewFieldName: 'UyeGrupIds',
                 TableName: 'UyeGrup',
                 ValueField: 'Id',
                 TextField: 'Ad',
                 OtherFields: '',
                 Filters: [
                     { Field: 'Id', Operator: '>=', Value: '0' }
                 ],
                 Sorts: [
                                 { Field: 'Ad', Dir: 'asc' }
                 ]
             }),
             change: function (e) {
                 if (self.dataSource.at(0) !== undefined) {
                     self.dataSource.at(0).set('UyeGrupIds', this.value().join());
                 }
             },
             open: function (e) {
             },
             close: function (e) {
             }
         }).getKendoMultiSelect();

         $(self.selector).find('[name=FileSearchEditWrapperGorselUrl] [name=btnSearch]').click(function (e) {
             var dataItem = self.dataSource.at(0);
             mnPopupView.create({
                viewFolder: '_Dosyalar',
                viewName: 'viewDosyalar',
                subTitle: mnLang.TranslateWithWord('xLng.AramaIslemleri'),
                onShow: function (e) {
                    e.beforeShow({ 'ownerViewName':'KampanyaForForm' });
                },
                onClose: function (e) {
                    if (e.opt.isSelected) {
                        dataItem.set('GorselUrl', e.opt.selectedDataItem.FileUrl);
                    }
                    fValidateAll();
                }
             });
         });

         $(self.selector).find('[name=FileSearchEditWrapperGorselUrl] [name=btnClear]').click(function (e) {
            var dataItem = self.dataSource.at(0);
            dataItem.set('GorselUrl', '');
            fValidateAll();
         });

         $(self.selector).find('[name=FileSearchEditWrapperGorselUrl] [name=btnPreview]').click(function (e) {
            var dataItem = self.dataSource.at(0);
            var url = dataItem.get('GorselUrl');
            if (url != null && url.length > 0) {
                window.open(url, '_blank');
            } else {
                e.preventDefault();
            }
         });

         self.keSayfaIcerik = $(self.selector).find('[name=SayfaIcerik]').kendoEditor({
             serialization: { entities: false },
             tools: mnApp.kendoEditor_tools_mini,
             resizable: { content: true },
             execute: function (e) {
                if (e.name == 'print') {
                    //title da istenmeyen birşey yazmasın diye özel boşluk karekteri atıyoruz iframe içindeki tittle a
                    $(e.sender.wrapper).find('iframe').contents()[0].title = String.fromCharCode(173);
                }
             }
         }).getKendoEditor();

         $(self.selector).find('[name=BaslangicTarihi]').kendoDateTimePicker({
             componentType: mnApp.kendoDateTimePiker_ComponentType,
             dateInput: mnApp.kendoDateTimePiker_DateInput
         }).getKendoDateTimePicker();

         $(self.selector).find('[name=BitisTarihi]').kendoDateTimePicker({
             componentType: mnApp.kendoDateTimePiker_ComponentType,
             dateInput: mnApp.kendoDateTimePiker_DateInput
         }).getKendoDateTimePicker();

         $(self.selector).find('[name=IndirimDegeri]').kendoNumericTextBox({
             format: 'n2', decimals: 2, min: 0, spinners: false, step: 0
         }).getKendoNumericTextBox();

     }

     function fSetAtributeFormElements() {
         $(self.selector).find('[name=KampanyaIndirimTipiId]').attr('required', 'required');
         $(self.selector).find('[name=KampanyaTurId]').attr('required', 'required');
         $(self.selector).find('[name=IndirimDegeri]').attr('required', 'required');
     }

     function fYetkiUygula() {
         //Standart Yetkiler
         var _C = mnUser.isYetkili(self.tableName + '.D_C.');
         var _U = mnUser.isYetkili(self.tableName + '.D_U.');
         var _D = mnUser.isYetkili(self.tableName + '.D_D.');

         //ek yetkiler için)
         //...

         //Form İçin
         if (_C || _U) {
             $(self.selector).find('#btnKaydet').show();
         } else {
             $(self.selector).find('#btnKaydet').hide();
         }

        //form element görünümleri
        var fieldList = [];
        fieldList.push({ 'Name': 'Durum', 'Visible': '11,21,31,41'.indexOf(mnUser.Info.nYetkiGrup) >= 0 });
        fieldList.push({ 'Name': 'KampanyaIndirimTipiId', 'Visible': '11,21,31,41'.indexOf(mnUser.Info.nYetkiGrup) >= 0 });
        fieldList.push({ 'Name': 'KampanyaTurId', 'Visible': '11,21,31,41'.indexOf(mnUser.Info.nYetkiGrup) >= 0 });
        fieldList.push({ 'Name': 'UyeGrupIds', 'Visible': '11,21,31,41'.indexOf(mnUser.Info.nYetkiGrup) >= 0 });
        fieldList.push({ 'Name': 'Ad', 'Visible': '11,21,31,41'.indexOf(mnUser.Info.nYetkiGrup) >= 0 });
        fieldList.push({ 'Name': 'GorselUrl', 'Visible': '11,21,31,41'.indexOf(mnUser.Info.nYetkiGrup) >= 0 });
        fieldList.push({ 'Name': 'SayfaIcerik', 'Visible': '11,21,31,41'.indexOf(mnUser.Info.nYetkiGrup) >= 0 });
        fieldList.push({ 'Name': 'BaslangicTarihi', 'Visible': '11,21,31,41'.indexOf(mnUser.Info.nYetkiGrup) >= 0 });
        fieldList.push({ 'Name': 'BitisTarihi', 'Visible': '11,21,31,41'.indexOf(mnUser.Info.nYetkiGrup) >= 0 });
        fieldList.push({ 'Name': 'IndirimDegeri', 'Visible': '11,21,31,41'.indexOf(mnUser.Info.nYetkiGrup) >= 0 });
        fieldList.push({ 'Name': 'CokluKullanim', 'Visible': '11,21,31,41'.indexOf(mnUser.Info.nYetkiGrup) >= 0 });

        for (var i in fieldList) {
            var $elm = $(self.selector).find('.mnFormElementContainer .mnFormElementDiv[name=div' + fieldList[i].Name + ']');
            if (fieldList[i].Visible) {
                $elm.show();
            } else {
                $elm.hide();
            }
        }

     }


     function fGorunurlukUygula(dataItem) {
        if (dataItem != null && dataItem != undefined) {
            //invisibility
            //visibility
        }
     }

     self.prepare = function () {
         // form element atribute set
         fSetAtributeFormElements();
         // DataSource
         fCreateDataSource();
         // form Elementler
         fCreateFormElements();
         // Language
         mnLang.TranslateWithSelector(self.selector);
     };

     self.beforeShow = function (_opt) {
         self.opt = $.extend({}, _opt);

         if (self.opt.qprms.Id !== null && self.opt.qprms.Id > 0) {
             self.dataSource.filter({ field: self.primaryKey, operator: 'eq', value: self.opt.qprms.Id });
         } else {
             self.dataSource.data([]); // eski data varsa işleme girmemesi için
             self.dataSource.add();
         }

         self.tabstrip.select(0);
     };

     return self;
 }();
</script>
