

<div id='AracHareketForForm'>
    <div id='divButtonGroup' class='mnButtonGroup float-end'>
        <button id='btnDetayAracHareketDetay' class='btnDetay btn btn-outline-primary text-nowrap '> <span data-langkey-text='xLng.AracHareketDetay.Title'></span> </button>

        <button id='btnKaydet' type='button' class='btn btn-outline-success text-nowrap' data-langkey-title='xLng.Kaydet'> <i class='fa fa-save'></i> </button>
    </div>

    <div class='mnFormElementContainer' style='padding-bottom:15px;'>
        <div id='tabstrip'>
            <ul>
                <li data-tab-key='I'> <span data-langkey-text='xLng.AracHareket.FormViewTab.I'></span> </li>
            </ul>
            <div data-tab-key='I'>
                <div class='row'>
                    <div class='col-md-12'>
                         <div name='divAracId' class='mnFormElementDiv form-group row'>
                             <label class='col-sm-4 col-md-2 col-form-label'>
                                <span class='mn-required-span' data-langkey-text='xLng.AracHareket.AracId'></span>
                             </label>
                             <div class='col-sm-8 col-md-10'>
                                 <input name='AracId' data-bind='value:AracId'  readonly />
                                 <span class='k-invalid-msg' data-for='AracId'></span>
                             </div>
                         </div>

                         <div name='divUyeId' class='mnFormElementDiv form-group row'>
                             <label class='col-sm-4 col-md-2 col-form-label'>
                                <span class='mn-required-span' data-langkey-text='xLng.AracHareket.UyeId'></span>
                             </label>
                             <div class='col-sm-8 col-md-10'>
                                 <input name='UyeId' data-bind='value:UyeId'  readonly />
                                 <span class='k-invalid-msg' data-for='UyeId'></span>
                             </div>
                         </div>

                         <div name='divBirimFiyat' class='mnFormElementDiv form-group row'>
                             <label class='col-sm-4 col-md-2 col-form-label'>
                                <span class='mn-required-span' data-langkey-text='xLng.AracHareket.BirimFiyat'></span>
                             </label>
                             <div class='col-sm-8 col-md-10'>
                                 <input name='BirimFiyat' type='number' data-bind='value:BirimFiyat' data-langkey-placeholder='xLng.AracHareket.BirimFiyat'  readonly />
                                 <span class='k-invalid-msg' data-for='BirimFiyat'></span>
                             </div>
                         </div>

                         <div name='divMesafe' class='mnFormElementDiv form-group row'>
                             <label class='col-sm-4 col-md-2 col-form-label'>
                                <span class='mn-required-span' data-langkey-text='xLng.AracHareket.Mesafe'></span>
                             </label>
                             <div class='col-sm-8 col-md-10'>
                                 <input name='Mesafe' type='number' data-bind='value:Mesafe' data-langkey-placeholder='xLng.AracHareket.Mesafe'  readonly />
                                 <span class='k-invalid-msg' data-for='Mesafe'></span>
                             </div>
                         </div>

                         <div name='divTutar' class='mnFormElementDiv form-group row'>
                             <label class='col-sm-4 col-md-2 col-form-label'>
                                <span class='mn-required-span' data-langkey-text='xLng.AracHareket.Tutar'></span>
                             </label>
                             <div class='col-sm-8 col-md-10'>
                                 <input name='Tutar' type='number' data-bind='value:Tutar' data-langkey-placeholder='xLng.AracHareket.Tutar'  readonly />
                                 <span class='k-invalid-msg' data-for='Tutar'></span>
                             </div>
                         </div>

                         <div name='divBaslangicTarih' class='mnFormElementDiv form-group row'>
                             <label class='col-sm-4 col-md-2 col-form-label'>
                                <span class='mn-required-span' data-langkey-text='xLng.AracHareket.BaslangicTarih'></span>
                             </label>
                             <div class='col-sm-8 col-md-10'>
                                 <input name='BaslangicTarih' data-bind='value:BaslangicTarih'  readonly />
                                 <span class='k-invalid-msg' data-for='BaslangicTarih'></span>
                             </div>
                         </div>

                         <div name='divBitisTarih' class='mnFormElementDiv form-group row'>
                             <label class='col-sm-4 col-md-2 col-form-label'>
                                <span class='' data-langkey-text='xLng.AracHareket.BitisTarih'></span>
                             </label>
                             <div class='col-sm-8 col-md-10'>
                                 <input name='BitisTarih' data-bind='value:BitisTarih'  readonly />
                                 <span class='k-invalid-msg' data-for='BitisTarih'></span>
                             </div>
                         </div>

                         <div name='divBaslangicKonum' class='mnFormElementDiv form-group row'>
                             <label class='col-sm-4 col-md-2 col-form-label'>
                                <span class='' data-langkey-text='xLng.AracHareket.BaslangicKonum'></span>
                             </label>
                             <div class='col-sm-8 col-md-10' style='position:relative;' >
                                 <textarea name='BaslangicKonum' class='form-control' data-bind='value:BaslangicKonum' data-langkey-placeholder='xLng.AracHareket.BaslangicKonum'  style='height:50px;' maxlength='100' ></textarea>
                             </div>
                         </div>

                         <div name='divBitisKonum' class='mnFormElementDiv form-group row'>
                             <label class='col-sm-4 col-md-2 col-form-label'>
                                <span class='' data-langkey-text='xLng.AracHareket.BitisKonum'></span>
                             </label>
                             <div class='col-sm-8 col-md-10' style='position:relative;' >
                                 <textarea name='BitisKonum' class='form-control' data-bind='value:BitisKonum' data-langkey-placeholder='xLng.AracHareket.BitisKonum'  style='height:50px;' maxlength='100' ></textarea>
                             </div>
                         </div>


                    </div>

                    <div class='col-lg-6 col-md-12'>
                         <div name='divAracRezervasyonId' class='mnFormElementDiv form-group row'>
                             <label class='col-sm-4 col-form-label'>
                                <span class='mn-required-span' data-langkey-text='xLng.AracHareket.AracRezervasyonId'></span>
                             </label>
                             <div class='col-sm-8'>
                                 <input name='AracRezervasyonId' type='number' data-bind='value:AracRezervasyonId' data-langkey-placeholder='xLng.AracHareket.AracRezervasyonId' />
                                 <span class='k-invalid-msg' data-for='AracRezervasyonId'></span>
                             </div>
                         </div>


                    </div>

                    <div class='col-lg-6 col-md-12'>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
 window.AracHareketForForm = function () {
     var self = {};
     self.opt = null;
     self.title = 'xLng.AracHareket.Title';
     self.selector = '#AracHareketForForm';
     self.primaryKey = 'Id';
     self.tableName = 'AracHareket';
     self.apiUrlPrefix = '/Panel/Api' + self.tableName;

     function fCreateDataSource() {
         self.dataSource = new kendo.data.DataSource({
             transport: {
                 read: { type: 'POST', url: self.apiUrlPrefix + '/Read', dataType: 'json', contentType: 'application/json; charset=utf-8' },
                 create: { type: 'POST', url: self.apiUrlPrefix + '/Create', dataType: 'json', contentType: 'application/json; charset=utf-8' },
                 update: { type: 'POST', url: self.apiUrlPrefix + '/Update', dataType: 'json', contentType: 'application/json; charset=utf-8' },
                 destroy: { type: 'POST', url: self.apiUrlPrefix + '/Delete', dataType: 'json', contentType: 'application/json; charset=utf-8' },
                 parameterMap: function (data, operation) {
                     if (operation === 'read') {
                         return kendo.stringify(data);
                     }
                     else if (operation === 'create' || operation === 'update') {
                         data.BaslangicTarih = kendo.toString(data.BaslangicTarih, 's');
                         data.BitisTarih = kendo.toString(data.BitisTarih, 's');
                         data.CreateDate = kendo.toString(data.CreateDate, 's');
                         data.UpdateDate = kendo.toString(data.UpdateDate, 's');
                         //Geometry data için
                         if (data.BaslangicKonum != null && data.BaslangicKonum.trim().length > 0) {
							data.BaslangicKonum = JSON.parse(data.BaslangicKonum);
                         } else {
							data.BaslangicKonum = null;
                         }
                         //Geometry data için
                         if (data.BitisKonum != null && data.BitisKonum.trim().length > 0) {
							data.BitisKonum = JSON.parse(data.BitisKonum);
                         } else {
							data.BitisKonum = null;
                         }

                         return kendo.stringify(data);
                     }
                     else if (operation === 'destroy') {
                         return kendo.stringify(data);
                     }
                 }
             },
             pageSize: 10, serverPaging: true, serverSorting: true, serverFiltering: true, serverGrouping: true, serverAggregates: true,
             schema: {
                 errors: 'Errors', data: 'Data', total: 'Total', aggregates: 'AggregateResults',
                 model: {
                     id: self.primaryKey,
                     fields: {
                         Id: { type: 'number', defaultValue: null },
                         UniqueId: { type: 'string', editable:false },
                         AracId: { type: 'number', editable:false },
                         UyeId: { type: 'number', editable:false },
                         AracRezervasyonId: { type: 'number' },
                         BirimFiyat: { type: 'number', editable:false },
                         Mesafe: { type: 'number', editable:false },
                         Tutar: { type: 'number', editable:false },
                         BaslangicTarih: { type: 'date', editable:false },
                         BitisTarih: { type: 'date', editable:false },
                         CreateDate: { type: 'date', editable:false },
                         CreatedUserId: { type: 'number', editable:false },
                         UpdateDate: { type: 'date', editable:false },
                         UpdatedUserId: { type: 'number', editable:false },
                         CcAracIdAd: { type: 'string' },
                         CcUyeIdAd: { type: 'string' }
                     }
                 }
             },
             error: function (e) {
                 if (e.xhr === null) { mnNotification.warning(e.errors); } else { mnErrorHandler.Handle(e.xhr); }
                 //this.cancelChanges();
             },
             requestStart: function (e) {
                 setTimeout(function () {
                     kendo.ui.progress($(self.selector), true); //progress On
                 });
             },
             requestEnd: function (e) {
                 setTimeout(function () {
                     kendo.ui.progress($(self.selector), false); //progress Off
                 });

                 if (e.response !== undefined && e.response.Errors === null) {
                     if (e.type === 'create' || e.type === 'update' || e.type === 'destroy') {
                         mnLookup.listRead(self.tableName);
                     }
                     if (e.type === 'create') {
                         mnNotification.success(mnLang.TranslateWithWord('xLng.KayitEklendi'));
                     }
                     if (e.type === 'update') {
                         mnNotification.success(mnLang.TranslateWithWord('xLng.KayitDuzeltildi'));
                     }
                     if (e.type === 'destroy') {
                         mnNotification.success(mnLang.TranslateWithWord('xLng.KayitSilindi'));
                     }

                     if (e.response.Data.length > 0) {
                         e.response.Data[0].BaslangicKonum = JSON.stringify(JSON.parse(e.response.Data[0].BaslangicKonum), null, 2);
                         e.response.Data[0].BitisKonum = JSON.stringify(JSON.parse(e.response.Data[0].BitisKonum), null, 2);
                     }
                 }
             },
             change: function (e) {
                 if (e.items[0] !== undefined) {
                     if (e.items[0].get(self.primaryKey) === null) {
                         $.ajax({
                             url: self.apiUrlPrefix + '/GetByNew', type: 'GET', dataType: 'json', async: false,
                             success: function (result) {
                                 e.items[0].Id = result.Id;
                                 e.items[0].UniqueId = result.UniqueId;
                                 e.items[0].AracId = result.AracId;
                                 e.items[0].UyeId = result.UyeId;
                                 e.items[0].AracRezervasyonId = result.AracRezervasyonId;
                                 e.items[0].BirimFiyat = result.BirimFiyat;
                                 e.items[0].Mesafe = result.Mesafe;
                                 e.items[0].Tutar = result.Tutar;
                                 e.items[0].BaslangicTarih = kendo.parseDate(result.BaslangicTarih);
                                 e.items[0].BitisTarih = kendo.parseDate(result.BitisTarih);
                                 e.items[0].BaslangicKonum = result.BaslangicKonum;
                                 e.items[0].BitisKonum = result.BitisKonum;
                                 e.items[0].CreateDate = kendo.parseDate(result.CreateDate);
                                 e.items[0].CreatedUserId = result.CreatedUserId;
                                 e.items[0].UpdateDate = kendo.parseDate(result.UpdateDate);
                                 e.items[0].UpdatedUserId = result.UpdatedUserId;
                                 //computed alanların tanımlanması
                                 e.items[0].CcAracIdAd = result.CcAracIdAd;
                                 e.items[0].CcUyeIdAd = result.CcUyeIdAd;
                                 //filterdan gelen default value set için
                                 $(self.opt.filters).each(function (index, row) {
                                     if (row.filterColumnName !== 'Id') {
                                        e.items[0].set(row.filterColumnName, row.filterValue);
                                     }
                                 });

                             },
                             error: function (xhr, status) {
                                 mnErrorHandler.Handle(xhr);
                             }
                         });
                     }
                     // Bind
                     kendo.bind($(self.selector), e.items[0]);

                     //validator refresh
                     setTimeout(function () {
                        fValidateAll();
                     },1000);

                     // detay buttons görünürlük için
                     if (e.items[0].Id > 0) {
                        $(self.selector).find('#btnDetayAracHareketDetay').show();
                     } else {
                        $(self.selector).find('#btnDetayAracHareketDetay').hide();
                     }

                 }

                 // Yetki
                 fYetkiUygula();

                 // ve gerekebilecek diğer işlemler
                 // ...
             }
         });
     }

     function fValidateAll() {
        $(self.selector).find('#tabstrip ul li[data-tab-key]').removeClass('mn-invalid');
        let rValid = true;

        if (!self.validatorI.validate()) {
            rValid = false;
            $(self.selector).find('#tabstrip ul li[data-tab-key=I]').addClass('mn-invalid')
        }
        
        return rValid
     }

     function fCreateFormElements() {
         // tabstrip
         self.tabstrip = $(self.selector).find('#tabstrip').kendoTabStrip({
             animation: false, tabPosition: 'top'
         }).getKendoTabStrip();
         self.tabstrip.select(0);

         //create validators
         self.validatorI = mnApp.createValidator($(self.selector).find('.mnFormElementContainer div[data-tab-key=I]'), mnApp.validatorErrorTemplateIconMsg);

         //butonlar
         $(self.selector).find('#btnKaydet').click(function (e) {
             mnApi.controlDisableWait($(e.target));
             if (fValidateAll()) {
                 if (self.dataSource.at(0).dirty) {
                     self.dataSource.sync();
                 } else {
                     mnAlert.warning(mnLang.TranslateWithWord('xLng.KayyittaDegisiklikYapmadiniz'));
                 }
             } else {
                 mnAlert.warning(mnLang.TranslateWithWord('xLng.DoldurulmasiGerekenAlanlarVar'));
             }
         });

         $(self.selector).find('#btnDetayAracHareketDetay').click(function (e) {
            var dataItem = self.dataSource.at(0);
            mnPageView.create({
                viewFolder: 'AracHareketDetay',
                viewName: 'AracHareketDetayForGrid',
                subTitle: mnLang.TranslateWithWord('xLng.DuzenlemeIslemleri'),
                onShow: function (e) {
                    e.beforeShow({
                        'ownerViewName': 'AracHareketForForm',
                        'filters': [
                            { 'filterColumnName': 'AracHareketId', 'filterOperator': 'eq', 'filterValue': dataItem.Id }
                        ]
                    });
                }
            });
         });

         //Diğer Form elementleri
         $(self.selector).find('[name=AracId]').kendoDropDownList({
             valuePrimitive: true,
             optionLabel: mnLang.TranslateWithWord('xLng.Seciniz'),
             dataValueField: 'value',
             dataTextField: 'text',
             dataSource: mnLookup.listLoad({
                 ViewName: 'AracHareketForForm',
                 ViewFieldName: 'AracId',
                 TableName: 'Arac',
                 ValueField: 'Id',
                 TextField: 'Ad',
                 OtherFields: '',
                 Filters: [
                     { Field: 'Id', Operator: '>=', Value: '0' }
                 ],
                 Sorts: [
                                 { Field: 'Ad', Dir: 'asc' }
                 ]
             }),
             open: function (e) {
             },
             close: function (e) {
             }
         }).getKendoDropDownList();

         $(self.selector).find('[name=UyeId]').kendoDropDownList({
             valuePrimitive: true,
             optionLabel: mnLang.TranslateWithWord('xLng.Seciniz'),
             dataValueField: 'value',
             dataTextField: 'text',
             dataSource: mnLookup.listLoad({
                 ViewName: 'AracHareketForForm',
                 ViewFieldName: 'UyeId',
                 TableName: 'Uye',
                 ValueField: 'Id',
                 TextField: 'Ad',
                 OtherFields: '',
                 Filters: [
                     { Field: 'Id', Operator: '>=', Value: '0' }
                 ],
                 Sorts: [
                                 { Field: 'Ad', Dir: 'asc' }
                 ]
             }),
             open: function (e) {
             },
             close: function (e) {
             }
         }).getKendoDropDownList();

         $(self.selector).find('[name=BirimFiyat]').kendoNumericTextBox({
             format: 'n2', decimals: 2, min: 0, spinners: false, step: 0
         }).getKendoNumericTextBox();

         $(self.selector).find('[name=Mesafe]').kendoNumericTextBox({
             format: 'n2', decimals: 2, min: 0, spinners: false, step: 0
         }).getKendoNumericTextBox();

         $(self.selector).find('[name=Tutar]').kendoNumericTextBox({
             format: 'n2', decimals: 2, min: 0, spinners: false, step: 0
         }).getKendoNumericTextBox();

         $(self.selector).find('[name=BaslangicTarih]').kendoDateTimePicker({
             componentType: mnApp.kendoDateTimePiker_ComponentType,
             dateInput: mnApp.kendoDateTimePiker_DateInput
         }).getKendoDateTimePicker();

         $(self.selector).find('[name=BitisTarih]').kendoDateTimePicker({
             componentType: mnApp.kendoDateTimePiker_ComponentType,
             dateInput: mnApp.kendoDateTimePiker_DateInput
         }).getKendoDateTimePicker();

         $(self.selector).find('[name=AracRezervasyonId]').kendoNumericTextBox({
             format: 'n0', decimals: 0, min: 0, spinners: false, step: 0
         }).getKendoNumericTextBox();

     }

     function fSetAtributeFormElements() {
         $(self.selector).find('[name=AracId]').attr('required', 'required');
         $(self.selector).find('[name=UyeId]').attr('required', 'required');
         $(self.selector).find('[name=BirimFiyat]').attr('required', 'required');
         $(self.selector).find('[name=Mesafe]').attr('required', 'required');
         $(self.selector).find('[name=Tutar]').attr('required', 'required');
         $(self.selector).find('[name=BaslangicTarih]').attr('required', 'required');
         $(self.selector).find('[name=AracRezervasyonId]').attr('required', 'required');
     }

     function fYetkiUygula() {
         //Standart Yetkiler
         var _C = mnUser.isYetkili(self.tableName + '.D_C.');
         var _U = mnUser.isYetkili(self.tableName + '.D_U.');
         var _D = mnUser.isYetkili(self.tableName + '.D_D.');

         // menu buttons yetkiler için
         var btnDetayAracHareketDetay_R = mnUser.isYetkili('AracHareketDetay.D_R.');
         mnApi.controlEnable($(self.selector).find('#btnDetayAracHareketDetay'), btnDetayAracHareketDetay_R);


         //ek yetkiler için)
         //...

         //Form İçin
         if (_C || _U) {
             $(self.selector).find('#btnKaydet').show();
         } else {
             $(self.selector).find('#btnKaydet').hide();
         }

        //form element görünümleri
        var fieldList = [];
        fieldList.push({ 'Name': 'AracId', 'Visible': '11,21,31,41'.indexOf(mnUser.Info.nYetkiGrup) >= 0 });
        fieldList.push({ 'Name': 'UyeId', 'Visible': '11,21,31,41'.indexOf(mnUser.Info.nYetkiGrup) >= 0 });
        fieldList.push({ 'Name': 'AracRezervasyonId', 'Visible': '11,21,31,41'.indexOf(mnUser.Info.nYetkiGrup) >= 0 });
        fieldList.push({ 'Name': 'BirimFiyat', 'Visible': '11,21,31,41'.indexOf(mnUser.Info.nYetkiGrup) >= 0 });
        fieldList.push({ 'Name': 'Mesafe', 'Visible': '11,21,31,41'.indexOf(mnUser.Info.nYetkiGrup) >= 0 });
        fieldList.push({ 'Name': 'Tutar', 'Visible': '11,21,31,41'.indexOf(mnUser.Info.nYetkiGrup) >= 0 });
        fieldList.push({ 'Name': 'BaslangicTarih', 'Visible': '11,21,31,41'.indexOf(mnUser.Info.nYetkiGrup) >= 0 });
        fieldList.push({ 'Name': 'BitisTarih', 'Visible': '11,21,31,41'.indexOf(mnUser.Info.nYetkiGrup) >= 0 });
        fieldList.push({ 'Name': 'BaslangicKonum', 'Visible': '11,21,31,41'.indexOf(mnUser.Info.nYetkiGrup) >= 0 });
        fieldList.push({ 'Name': 'BitisKonum', 'Visible': '11,21,31,41'.indexOf(mnUser.Info.nYetkiGrup) >= 0 });

        for (var i in fieldList) {
            var $elm = $(self.selector).find('.mnFormElementContainer .mnFormElementDiv[name=div' + fieldList[i].Name + ']');
            if (fieldList[i].Visible) {
                $elm.show();
            } else {
                $elm.hide();
            }
        }

     }


     function fGorunurlukUygula(dataItem) {
        if (dataItem != null && dataItem != undefined) {
            //invisibility
            //visibility
        }
     }

     self.prepare = function () {
         // form element atribute set
         fSetAtributeFormElements();
         // DataSource
         fCreateDataSource();
         // form Elementler
         fCreateFormElements();
         // Language
         mnLang.TranslateWithSelector(self.selector);
     };

     self.beforeShow = function (_opt) {
         self.opt = $.extend({}, _opt);

         if (self.opt.qprms.Id !== null && self.opt.qprms.Id > 0) {
             self.dataSource.filter({ field: self.primaryKey, operator: 'eq', value: self.opt.qprms.Id });
         } else {
             self.dataSource.data([]); // eski data varsa işleme girmemesi için
             self.dataSource.add();
         }

         self.tabstrip.select(0);
     };

     return self;
 }();
</script>
