
<div id='UyeForSearch'>
    <div>
        <div id='divGrid'></div>
    </div>
</div>

<script>
 window.UyeForSearch = function () {
     var self = {};
     self.opt = null;
     self.title = 'xLng.Uye.Title';
     self.selector = '#UyeForSearch';
     self.primaryKey = 'Id';
     self.tableName = 'Uye';
     self.apiUrlPrefix = '/Panel/Api' + self.tableName;

     function fCreateDataSource() {
         self.dataSource = new kendo.data.DataSource({
             transport: {
                 read: { type: 'POST', url: self.apiUrlPrefix + '/Read', dataType: 'json', contentType: 'application/json; charset=utf-8' },
                 create: { type: 'POST', url: self.apiUrlPrefix + '/Create', dataType: 'json', contentType: 'application/json; charset=utf-8' },
                 update: { type: 'POST', url: self.apiUrlPrefix + '/Update', dataType: 'json', contentType: 'application/json; charset=utf-8' },
                 destroy: { type: 'POST', url: self.apiUrlPrefix + '/Delete', dataType: 'json', contentType: 'application/json; charset=utf-8' },
                 parameterMap: function (data, operation) {
                     if (operation === 'read') {
                         return JSON.stringify(data);
                     }
                     else if (operation === 'create' || operation === 'update') {
                         data.ValidityDate = kendo.toString(data.ValidityDate, 's');
                         data.CreateDate = kendo.toString(data.CreateDate, 's');
                         data.UpdateDate = kendo.toString(data.UpdateDate, 's');
                         return JSON.stringify(data);
                     }
                     else if (operation === 'destroy') {
                         return JSON.stringify(data);
                     }
                 }
             },
             pageSize: 10, serverPaging: true, serverSorting: true, serverFiltering: true, serverGrouping: true, serverAggregates: true,
             sort: [
             ],
             schema: {
                 errors: 'Errors', data: 'Data', total: 'Total', aggregates: 'AggregateResults',
                 model: {
                     id: self.primaryKey,
                     fields: {
                         Id: { type: 'number', defaultValue: null  },
                         UyeDurumId: { type: 'number' },
                         UyeGrupId: { type: 'number' },
                         IsConfirmed: { type: 'boolean' },
                         NameSurname: { type: 'string' },
                         CountryCode: { type: 'string' },
                         Avatar: { type: 'string' },
                         GeoLocation: { type: 'string' },
                         UserName: { type: 'string' },
                         UserPassword: { type: 'string' },
                         SessionGuid: { type: 'string' },
                         ValidityDate: { type: 'date' },
                         UniqueId: { type: 'string', editable:false },
                         CreateDate: { type: 'date', editable:false },
                         CreatedUserId: { type: 'number', editable:false },
                         UpdateDate: { type: 'date', editable:false },
                         UpdatedUserId: { type: 'number', editable:false },
                         CcUyeDurumIdAd: { type: 'string' },
                         CcUyeGrupIdAd: { type: 'string' },
                         CcIsConfirmed: { type: 'string' }
                     }
                 }
             },
             error: function (e) {
                 if (e.xhr === null) { mnNotification.warning(e.errors); } else { mnErrorHandler.Handle(e.xhr); }
                 this.cancelChanges();
             },
             requestStart: function (e) {
             },
             requestEnd: function (e) {
                 if (e.response !== undefined && e.response.Errors === null) {
                     if (e.type === 'create' || e.type === 'update' || e.type === 'destroy') {
                         mnLookup.listRead(self.tableName);
                     }
                     if (e.type === 'create') {
                         mnNotification.success(mnLang.TranslateWithWord('xLng.KayitEklendi'));
                     }
                     if (e.type === 'update') {
                         mnNotification.success(mnLang.TranslateWithWord('xLng.KayitDuzeltildi'));
                     }
                     if (e.type === 'destroy') {
                         mnNotification.success(mnLang.TranslateWithWord('xLng.KayitSilindi'));
                     }
                 }
             },
             change: function (e) {
                 if (e.items[0] !== undefined) {
                     if (e.items[0].get(self.primaryKey) === null) {
                         $.ajax({
                             url: self.apiUrlPrefix + '/GetByNew', type: 'GET', dataType: 'json', async: false,
                             success: function (result) {
                                 e.items[0].Id = result.Id;
                                 e.items[0].UyeDurumId = result.UyeDurumId;
                                 e.items[0].UyeGrupId = result.UyeGrupId;
                                 e.items[0].IsConfirmed = result.IsConfirmed;
                                 e.items[0].NameSurname = result.NameSurname;
                                 e.items[0].CountryCode = result.CountryCode;
                                 e.items[0].Avatar = result.Avatar;
                                 e.items[0].GeoLocation = result.GeoLocation;
                                 e.items[0].UserName = result.UserName;
                                 e.items[0].UserPassword = result.UserPassword;
                                 e.items[0].SessionGuid = result.SessionGuid;
                                 e.items[0].ValidityDate = kendo.parseDate(result.ValidityDate);
                                 e.items[0].UniqueId = result.UniqueId;
                                 e.items[0].CreateDate = kendo.parseDate(result.CreateDate);
                                 e.items[0].CreatedUserId = result.CreatedUserId;
                                 e.items[0].UpdateDate = kendo.parseDate(result.UpdateDate);
                                 e.items[0].UpdatedUserId = result.UpdatedUserId;
                                 //computed alanların tanımlanması
                                 e.items[0].CcUyeDurumIdAd = result.CcUyeDurumIdAd;
                                 e.items[0].CcUyeGrupIdAd = result.CcUyeGrupIdAd;
                                 e.items[0].CcIsConfirmed = result.CcIsConfirmed;
                                 //filterdan gelen default value set için
                                 $(self.opt.filters).each(function (index, row) {
                                     if (row.filterColumnName !== 'Id') {
                                        e.items[0].set(row.filterColumnName, row.filterValue);
                                     }
                                 });

                             },
                             error: function (xhr, status) {
                                 mnErrorHandler.Handle(xhr);
                             }
                         });
                     }
                 }
                 // ve gerekebilecek diğer işlemler
                 // ...
             }
         });
     }

     function fCreateGrid() {
         self.grid = $(self.selector).find('#divGrid').kendoGrid({
             excel: { allPages: true, fileName: mnLang.TranslateWithWord(self.title) },
             excelExport: mnApp.exportGridWithTemplatesContentForKendo,
             autoBind: false, resizable: true, reorderable: true,
             sortable: { mode: 'multiple', allowUnsort: true, showIndexes: true },
             pageable: {
                 refresh: true, pageSizes: mnApp.gridPageSizes_default, buttonCount: 5, input: true,
                 messages: { itemsPerPage: '' }
             },
             editable: {
                 confirmation: true, mode: 'inline', createAt: 'bottom'
             },
             columns: [
             {
                 locked: true,
                 title: '',
                 width: '35px',
                 command: [
                     { template: '<button id="btnSecDon" class="btn btn-link btn-xs fa fa-download" style="padding:0px;" title="' + mnLang.TranslateWithWord("xLng.SecDon") + '"> </button>' }
                 ]
             },
             {
                 hidden: ![11,21,31,41].includes(mnUser.Info.nYetkiGrup),
                 title: mnLang.TranslateWithWord('xLng.Uye.UyeDurumId'),
                 field: 'UyeDurumId',
                 template: '#:CcUyeDurumIdAd#',
                 attributes: { 'class': 'text-nowrap' },
                 width: '100px'
             },

             {
                 hidden: ![11,21,31,41].includes(mnUser.Info.nYetkiGrup),
                 title: mnLang.TranslateWithWord('xLng.Uye.UyeGrupId'),
                 field: 'UyeGrupId',
                 template: '#:CcUyeGrupIdAd#',
                 attributes: { 'class': 'text-nowrap' },
                 width: '100px'
             },

             {
                 hidden: ![11,21,31,41].includes(mnUser.Info.nYetkiGrup),
                 title: mnLang.TranslateWithWord('xLng.Uye.IsConfirmed'),
                 field: 'IsConfirmed',
                 template: '#:CcIsConfirmed#',
                 attributes: { 'class': 'text-nowrap' },
                 width: '80px'
             },

             {
                 hidden: ![11,21,31,41].includes(mnUser.Info.nYetkiGrup),
                 title: mnLang.TranslateWithWord('xLng.Uye.NameSurname'),
                 field: 'NameSurname',
                 attributes: { 'class': 'text-nowrap' },
                 width: '130px'
             },

             {
                 hidden: ![11,21,31,41].includes(mnUser.Info.nYetkiGrup),
                 title: mnLang.TranslateWithWord('xLng.Uye.CountryCode'),
                 field: 'CountryCode',
                 attributes: { 'class': 'text-nowrap' },
                 width: '130px'
             },

             {
                 hidden: ![11,21,31,41].includes(mnUser.Info.nYetkiGrup),
                 title: mnLang.TranslateWithWord('xLng.Uye.Avatar'),
                 field: 'Avatar',
                 attributes: { 'class': 'text-nowrap' },
                 width: '130px'
             },

             {
                 hidden: ![11,21,31,41].includes(mnUser.Info.nYetkiGrup),
                 title: mnLang.TranslateWithWord('xLng.Uye.GeoLocation'),
                 field: 'GeoLocation',
                 attributes: { 'class': 'text-nowrap' },
                 width: '150px'
             },

             {
                 hidden: ![11,21,31,41].includes(mnUser.Info.nYetkiGrup),
                 title: mnLang.TranslateWithWord('xLng.Uye.UserName'),
                 field: 'UserName',
                 attributes: { 'class': 'text-nowrap' },
                 width: '130px'
             },

             {
                 hidden: ![11,21,31,41].includes(mnUser.Info.nYetkiGrup),
                 title: mnLang.TranslateWithWord('xLng.Uye.UserPassword'),
                 field: 'UserPassword',
                 attributes: { 'class': 'text-nowrap' },
                 width: '130px'
             },

             {
                 hidden: ![11,21,31,41].includes(mnUser.Info.nYetkiGrup),
                 title: mnLang.TranslateWithWord('xLng.Uye.SessionGuid'),
                 field: 'SessionGuid',
                 attributes: { 'class': 'text-nowrap' },
                 width: '130px'
             },

             {
                 hidden: ![11,21,31,41].includes(mnUser.Info.nYetkiGrup),
                 title: mnLang.TranslateWithWord('xLng.Uye.ValidityDate'),
                 field: 'ValidityDate',
                 format: '{0:d}',
                 attributes: { 'class': 'text-nowrap' },
                 width: '110px'
             },

             {}
             ],
             edit: function (e) {
                 mnApi.controlEnable(e.container.find('#btnSecDon'), false);

                 var model=e.model;
                 this.cancelRow();
                 mnPageView.create({
                     viewFolder: 'Uye',
                     viewName: 'UyeForForm',
                     subTitle: mnLang.TranslateWithWord('xLng.DuzenlemeIslemleri'),
                     onShow: function (e) {
                        var qprms = { 'Id': model.Id };
                         e.beforeShow({'ownerViewName':'UyeForSearch', 'qprms': qprms });
                     },
                     onClose: function (e) {
                         self.dataSource.read();
                     }
                 });
             },
             cancel: function (e) {
                 if (e.model.id !== null) {
                     e.sender.refresh(); //databound da renklendirme ve button set etme var ise ,cancelden sonra databound çalışmıyor(yetki,renk style ayarlanamıyor) bununla refresh ediyosun
                 }
             },
             dataBound: function (e) {
                var data = e.sender.dataSource.data();
                 //yetki
                 self.YetkiUygula(data);

                 // Language
                 mnLang.TranslateWithSelector(e.sender.wrapper);

                 //SearchView selector enable/disable
                 for (var i = 0; i < data.length; i++) {
                     var dataItem = data[i];
                     var bDisable = false;

                     if (bDisable) {
                        var tr = e.sender.wrapper.find('[data-uid=' + dataItem.uid + ']');
                        mnApi.controlEnable(tr.find('#btnSecDon'), false);
                        tr.find('#btnSecDon').closest('td').attr('title', mnLang.TranslateWithWord('xLng.DoldurulmasiGerekenAlanlarVar'));
                     }
                 }

                 //row style
             },
             dataSource: self.dataSource
         }).getKendoGrid();

         self.grid.wrapper.find('#btnEkle').kendoButton({
             icon: 'plus',
             click: function () {
                 mnPageView.create({
                     viewFolder: 'Uye',
                     viewName: 'UyeForForm',
                     subTitle: mnLang.TranslateWithWord('xLng.DuzenlemeIslemleri'),
                     onShow: function (e) {
                        var qprms = { 'Id': null };
                         e.beforeShow({'ownerViewName':'UyeForSearch', 'qprms': qprms });
                     },
                     onClose: function (e) {
                         self.dataSource.read();
                     }
                 });
             }
         });

         self.grid.wrapper.on('click', '#btnSecDon', function (e) {
             e.preventDefault();
             self.opt.isSelected = true;
             var dataItem = self.grid.dataItem($(e.currentTarget).closest('tr'));
             self.opt.selectedDataItem = dataItem;
             self.close();
         });

         self.grid.wrapper.find('#btnSaveAsExcel').kendoButton({
             icon: 'file-excel',
             click: function () {
                 kendo.ui.progress(self.grid.wrapper, true); //progress On
                 self.grid.saveAsExcel();
             }
         });
     }

     self.YetkiUygula = function (_data) {
         //Standart Yetkiler
         var _C = mnUser.isYetkili(self.tableName + '.D_C.');
         var _U = mnUser.isYetkili(self.tableName + '.D_U.');
         var _D = mnUser.isYetkili(self.tableName + '.D_D.');
         var _E = mnUser.isYetkili(self.tableName + '.D_E.');

         //ek yetkiler için
         //...

        //form element görünümleri
        var fieldList = [];

        for (var i in fieldList) {
            var $elm = $(self.selector).find('.mnFindElementContainer .mnFindElementDiv[name=div' + fieldList[i].Name + ']');
            if (fieldList[i].Visible) {
                $elm.show();
            } else {
                $elm.hide();
            }
        }

         //grid ekle button için
         mnApi.controlShowHide(self.grid.wrapper.find('#btnEkle'), _C);
         //grid exel button için
         mnApi.controlShowHide(self.grid.wrapper.find('#btnSaveAsExcel'), _E);

         //grid rows için
         $.each(_data, function (i, row) {
             var _tr = self.grid.wrapper.find('tr[data-uid=' + row.uid + ']');
             var tr_U = _U;
             var tr_D = _D;

             //update-delete button için
             mnApi.controlEnable(_tr.find('.k-grid-delete'), tr_D);


             //row değerine göre yetkiler
             //...

         });
     };

     self.prepare = function () {
         // DataSource
         fCreateDataSource();

         // Grid
         fCreateGrid();

         // Language
         mnLang.TranslateWithSelector(self.selector);
     };

     self.beforeShow = function (_opt) {
         self.opt = $.extend({}, _opt);
         self.opt.isSelected = false;

         self.filter();

     };

     self.filter = function (_data) {
         self.dataSource.filter(mnApp.find_options_ToFilterList(self));
     };

     self.close = function () {
         if ($(self.selector).closest('.k-window-content').getKendoWindow()) {
             $(self.selector).closest('.k-window-content').getKendoWindow().close(); // popup ise
         } else {
             $(self.selector).closest('.mnPageView').find('#btnGeri').click(); // page ise
         }
     };

     return self;
 }();
</script>
