

<div id='JobForForm'>
    <div id='divButtonGroup' class='mnButtonGroup float-end'>
        <button id='btnKaydet' type='button' class='btn btn-outline-success text-nowrap' data-langkey-title='xLng.Kaydet'>
            <i class='bi bi-save'></i>
            <span data-langkey-text='xLng.Kaydet'></span>
        </button>
    </div>

    <div class='mnFormElementContainer' style='padding-bottom:15px;'>
        <div id='tabstrip'>
            <ul>
                <li data-tab-key='I'> <span data-langkey-text='xLng.Job.FormViewTab.I'></span> </li>
            </ul>
            <div data-tab-key='I'>
                <div class='row'>
                    <div class='col-md-12'>

                    </div>

                    <div class='col-lg-6 col-md-12'>
                         <div name='divIsActive' class='mnFormElementDiv form-group row'>
                             <label class='col-sm-4 col-form-label'>
                             </label>
                             <div class='col-sm-8'>
                                <label style='font-weight:normal;'>
                                    <input name='IsActive' type='checkbox' data-bind='checked:IsActive' style='width: 24px; height: 24px; vertical-align: middle;'  />
                                    <span data-langkey-Text='xLng.Job.IsActive'></span>
                                </label>
                             </div>
                         </div>

                         <div name='divMethodName' class='mnFormElementDiv form-group row'>
                             <label class='col-sm-4 col-form-label'>
                                <span class='mn-required-span' data-langkey-text='xLng.Job.MethodName'></span>
                             </label>
                             <div class='col-sm-8'>
                                 <input name='MethodName' type='text' class='form-control d-inline' data-bind='value:MethodName' data-langkey-placeholder='xLng.Job.MethodName'   maxlength='100' autocomplete='off' />
                             </div>
                         </div>

                         <div name='divMethodParams' class='mnFormElementDiv form-group row'>
                             <label class='col-sm-4 col-form-label'>
                                <span class='' data-langkey-text='xLng.Job.MethodParams'></span>
                             </label>
                             <div class='col-sm-8'>
                                 <input name='MethodParams' type='text' class='form-control d-inline' data-bind='value:MethodParams' data-langkey-placeholder='xLng.Job.MethodParams'   maxlength='500' autocomplete='off' />
                             </div>
                         </div>

                         <div name='divMethodComment' class='mnFormElementDiv form-group row'>
                             <label class='col-sm-4 col-form-label'>
                                <span class='' data-langkey-text='xLng.Job.MethodComment'></span>
                             </label>
                             <div class='col-sm-8'>
                                 <textarea name='MethodComment' class='form-control' data-bind='value:MethodComment' data-langkey-placeholder='xLng.Job.MethodComment'  style='height:50px;' maxlength='500' ></textarea>
                             </div>
                         </div>

                         <div name='divCronExpression' class='mnFormElementDiv form-group row'>
                             <label class='col-sm-4 col-form-label'>
                                <span class='' data-langkey-text='xLng.Job.CronExpression'></span>
                             </label>
                             <div class='col-sm-8'>
                                 <input name='CronExpression' type='text' class='form-control d-inline' data-bind='value:CronExpression' data-langkey-placeholder='xLng.Job.CronExpression'   maxlength='50' autocomplete='off' />
                             </div>
                         </div>


                    </div>

                    <div class='col-lg-6 col-md-12'>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<script>
 window.JobForForm = function () {
     var self = {};
     self.opt = null;
     self.title = 'xLng.Job.Title';
     self.selector = '#JobForForm';
     self.primaryKey = 'Id';
     self.tableName = 'Job';
     self.apiUrlPrefix = '/Panel/Api' + self.tableName;

     function fCreateDataSource() {
         self.dataSource = new kendo.data.DataSource({
             transport: {
                 read: { type: 'POST', url: self.apiUrlPrefix + '/Read', dataType: 'json', contentType: 'application/json; charset=utf-8' },
                 create: { type: 'POST', url: self.apiUrlPrefix + '/Create', dataType: 'json', contentType: 'application/json; charset=utf-8' },
                 update: { type: 'POST', url: self.apiUrlPrefix + '/Update', dataType: 'json', contentType: 'application/json; charset=utf-8' },
                 destroy: { type: 'POST', url: self.apiUrlPrefix + '/Delete', dataType: 'json', contentType: 'application/json; charset=utf-8' },
                 parameterMap: function (data, operation) {
                     if (operation === 'read') {
                         return JSON.stringify(data);
                     }
                     else if (operation === 'create' || operation === 'update') {

                         return JSON.stringify(data);
                     }
                     else if (operation === 'destroy') {
                         return JSON.stringify(data);
                     }
                 }
             },
             pageSize: 10, serverPaging: true, serverSorting: true, serverFiltering: true, serverGrouping: true, serverAggregates: true,
             schema: {
                 errors: 'Errors', data: 'Data', total: 'Total', aggregates: 'AggregateResults',
                 model: {
                     id: self.primaryKey,
                     fields: {
                         Id: { type: 'string', defaultValue: null },
                         IsActive: { type: 'boolean' },
                         MethodName: { type: 'string' },
                         MethodParams: { type: 'string' },
                         MethodComment: { type: 'string' },
                         CronExpression: { type: 'string' },
                         CcIsActive: { type: 'string' }
                     }
                 }
             },
             error: function (e) {
                 if (e.xhr === null) { mnNotification.warning(e.errors); } else { mnErrorHandler.Handle(e.xhr); }
                 //this.cancelChanges();
             },
             requestStart: function (e) {
                 setTimeout(function () {
                     kendo.ui.progress($(self.selector), true); //progress On
                 });
             },
             requestEnd: function (e) {
                 setTimeout(function () {
                     kendo.ui.progress($(self.selector), false); //progress Off
                 });

                 if (e.response !== undefined && e.response.Errors === null) {
                     if (e.type === 'create' || e.type === 'update' || e.type === 'destroy') {
                         mnLookup.listRead(self.tableName);
                     }
                     if (e.type === 'create') {
                         mnNotification.success(mnLang.TranslateWithWord('xLng.KayitEklendi'));
                     }
                     if (e.type === 'update') {
                         mnNotification.success(mnLang.TranslateWithWord('xLng.KayitDuzeltildi'));
                     }
                     if (e.type === 'destroy') {
                         mnNotification.success(mnLang.TranslateWithWord('xLng.KayitSilindi'));
                     }

                     if (e.response.Data.length > 0) {
                     }
                 }
             },
             change: function (e) {
                 if (e.items[0] !== undefined) {
                     if (e.items[0].get(self.primaryKey) === null) {
                         $.ajax({
                             url: self.apiUrlPrefix + '/GetByNew', type: 'GET', dataType: 'json', async: false,
                             success: function (result) {
                                 e.items[0].Id = result.Id;
                                 e.items[0].IsActive = result.IsActive;
                                 e.items[0].MethodName = result.MethodName;
                                 e.items[0].MethodParams = result.MethodParams;
                                 e.items[0].MethodComment = result.MethodComment;
                                 e.items[0].CronExpression = result.CronExpression;
                                 //computed alanların tanımlanması
                                 e.items[0].CcIsActive = result.CcIsActive;
                                 //filterdan gelen default value set için
                                 $(self.opt.filters).each(function (index, row) {
                                     if (row.filterColumnName !== 'Id') {
                                        e.items[0].set(row.filterColumnName, row.filterValue);
                                     }
                                 });

                             },
                             error: function (xhr, status) {
                                 mnErrorHandler.Handle(xhr);
                             }
                         });
                     }
                     // Bind
                     kendo.bind($(self.selector), e.items[0]);

                     //validator refresh
                     setTimeout(function () {
                        fValidateAll();
                     },1000);

                 }

                 // Yetki
                 fYetkiUygula();

                 // ve gerekebilecek diğer işlemler
                 // ...
             }
         });
     }

     function fValidateAll() {
        $(self.selector).find('#tabstrip ul li[data-tab-key]').removeClass('mn-invalid');
        let rValid = true;

        if (!self.validatorI.validate()) {
            rValid = false;
            $(self.selector).find('#tabstrip ul li[data-tab-key=I]').addClass('mn-invalid')
        }
        
        return rValid
     }

     function fCreateFormElements() {
         // tabstrip
         self.tabstrip = $(self.selector).find('#tabstrip').kendoTabStrip({
             animation: false, tabPosition: 'top'
         }).getKendoTabStrip();
         self.tabstrip.select(0);

         //create validators
         self.validatorI = mnApp.createValidator($(self.selector).find('.mnFormElementContainer div[data-tab-key=I]'), mnApp.validatorErrorTemplateIconMsg);

         //butonlar
         $(self.selector).find('#btnKaydet').click(function (e) {
             mnApi.controlDisableWait($(e.target));
             if (fValidateAll()) {
                 if (self.dataSource.at(0).dirty) {
                     self.dataSource.sync();
                 } else {
                     mnAlert.warning(mnLang.TranslateWithWord('xLng.KayyittaDegisiklikYapmadiniz'));
                 }
             } else {
                 mnAlert.warning(mnLang.TranslateWithWord('xLng.DoldurulmasiGerekenAlanlarVar'));
             }
         });

         //Diğer Form elementleri
     }

     function fSetAtributeFormElements() {
         $(self.selector).find('[name=MethodName]').attr('required', 'required');
     }

     function fYetkiUygula() {
         //Standart Yetkiler
         var _C = mnUser.isYetkili(self.tableName + '.D_C.');
         var _U = mnUser.isYetkili(self.tableName + '.D_U.');
         var _D = mnUser.isYetkili(self.tableName + '.D_D.');

         //ek yetkiler için)
         //...

         //Form İçin
         if (_C || _U) {
             $(self.selector).find('#btnKaydet').show();
         } else {
             $(self.selector).find('#btnKaydet').hide();
         }

        //form element görünümleri
        var fieldList = [];
        fieldList.push({ 'Name': 'IsActive', 'Visible': '11,21,31,41'.indexOf(mnUser.Info.nYetkiGrup) >= 0 });
        fieldList.push({ 'Name': 'MethodName', 'Visible': '11,21,31,41'.indexOf(mnUser.Info.nYetkiGrup) >= 0 });
        fieldList.push({ 'Name': 'MethodParams', 'Visible': '11,21,31,41'.indexOf(mnUser.Info.nYetkiGrup) >= 0 });
        fieldList.push({ 'Name': 'MethodComment', 'Visible': '11,21,31,41'.indexOf(mnUser.Info.nYetkiGrup) >= 0 });
        fieldList.push({ 'Name': 'CronExpression', 'Visible': '11,21,31,41'.indexOf(mnUser.Info.nYetkiGrup) >= 0 });

        for (var i in fieldList) {
            var $elm = $(self.selector).find('.mnFormElementContainer .mnFormElementDiv[name=div' + fieldList[i].Name + ']');
            if (fieldList[i].Visible) {
                $elm.show();
            } else {
                $elm.hide();
            }
        }

     }


     function fGorunurlukUygula(dataItem) {
        if (dataItem != null && dataItem != undefined) {
            //invisibility
            //visibility
        }
     }

     self.prepare = function () {
         // form element atribute set
         fSetAtributeFormElements();
         // DataSource
         fCreateDataSource();
         // form Elementler
         fCreateFormElements();
         // Language
         mnLang.TranslateWithSelector(self.selector);
     };

     self.beforeShow = function (_opt) {
         self.opt = $.extend({}, _opt);

         if (self.opt.qprms.Id !== null && self.opt.qprms.Id.length > 0) {
             self.dataSource.filter({ field: self.primaryKey, operator: 'eq', value: self.opt.qprms.Id });
         } else {
             self.dataSource.data([]); // eski data varsa işleme girmemesi için
             self.dataSource.add();
         }

         self.tabstrip.select(0);
     };

     return self;
 }();
</script>
