
<div id='RoleForGrid'>
    <div>
        <div class='mnFindPanel'>
            <div class='mnFindPanelRow'>
                <div class='mnFindElementContainer'>
                    <div name='divName' class='mnFindElementDiv'>
                        <label class='col-form-label me-2' data-langkey-text='xLng.Role.Name'></label>
                        <input type='text' class='form-control d-inline' style='width:200px' data-find_option='auto' data-find_type='System.String' data-find_field='Name' data-find_operator='contains' autocomplete='off' />
                    </div>

                </div>
            </div>

            <div id='divButtonGroup' class='float-end pb-2'>
                <button id='btnFlitreUygula' type='button' class='btn btn-outline-warning btn-sm text-nowrap mn-hover-color-white' data-langkey-title='xLng.Uygula'> <i class='bi bi-binoculars'></i> <span data-langkey-text='xLng.Uygula'></span> </button>
            </div>
        </div>

        <div id='divGrid'></div>
    </div>
</div>

<script>
 window.RoleForGrid = function () {
     var self = {};
     self.opt = null;
     self.title = 'xLng.Role.Title';
     self.selector = '#RoleForGrid';
     self.primaryKey = 'Id';
     self.tableName = 'Role';
     self.apiUrlPrefix = '/Panel/Api' + self.tableName;

     function fCreateDataSource() {
         self.dataSource = new kendo.data.DataSource({
             transport: {
                 read: { type: 'POST', url: self.apiUrlPrefix + '/Read', dataType: 'json', contentType: 'application/json; charset=utf-8' },
                 create: { type: 'POST', url: self.apiUrlPrefix + '/Create', dataType: 'json', contentType: 'application/json; charset=utf-8' },
                 update: { type: 'POST', url: self.apiUrlPrefix + '/Update', dataType: 'json', contentType: 'application/json; charset=utf-8' },
                 destroy: { type: 'POST', url: self.apiUrlPrefix + '/Delete', dataType: 'json', contentType: 'application/json; charset=utf-8' },
                 parameterMap: function (data, operation) {
                     if (operation === 'read') {
                         return JSON.stringify(data);
                     }
                     else if (operation === 'create' || operation === 'update') {
                         data.CreateDate = kendo.toString(data.CreateDate, 's');
                         data.UpdateDate = kendo.toString(data.UpdateDate, 's');
                         return JSON.stringify(data);
                     }
                     else if (operation === 'destroy') {
                         return JSON.stringify(data);
                     }
                 }
             },
             pageSize: 10, serverPaging: true, serverSorting: true, serverFiltering: true, serverGrouping: true, serverAggregates: true,
             sort: [
             ],
             schema: {
                 errors: 'Errors', data: 'Data', total: 'Total', aggregates: 'AggregateResults',
                 model: {
                     id: self.primaryKey,
                     fields: {
                         Id: { type: 'number', defaultValue: null  },
                         UniqueId: { type: 'string', editable:false },
                         IsActive: { type: 'boolean' },
                         LineNumber: { type: 'number' },
                         Name: { type: 'string' },
                         Authority: { type: 'string' },
                         CreateDate: { type: 'date', editable:false },
                         CreatedUserId: { type: 'number', editable:false },
                         UpdateDate: { type: 'date', editable:false },
                         UpdatedUserId: { type: 'number', editable:false },
                         CcIsActive: { type: 'string' }
                     }
                 }
             },
             error: function (e) {
                 if (e.xhr === null) { mnNotification.warning(e.errors); } else { mnErrorHandler.Handle(e.xhr); }
                 this.cancelChanges();
             },
             requestStart: function (e) {
             },
             requestEnd: function (e) {
                 if (e.response !== undefined && e.response.Errors === null) {
                     if (e.type === 'create' || e.type === 'update' || e.type === 'destroy') {
                         mnLookup.listRead(self.tableName);
                     }
                     if (e.type === 'create') {
                         mnNotification.success(mnLang.TranslateWithWord('xLng.KayitEklendi'));
                     }
                     if (e.type === 'update') {
                         mnNotification.success(mnLang.TranslateWithWord('xLng.KayitDuzeltildi'));
                     }
                     if (e.type === 'destroy') {
                         mnNotification.success(mnLang.TranslateWithWord('xLng.KayitSilindi'));
                     }
                 }
             },
             change: function (e) {
                 if (e.items[0] !== undefined) {
                     if (e.items[0].get(self.primaryKey) === null) {
                         $.ajax({
                             url: self.apiUrlPrefix + '/GetByNew', type: 'GET', dataType: 'json', async: false,
                             success: function (result) {
                                 e.items[0].Id = result.Id;
                                 e.items[0].UniqueId = result.UniqueId;
                                 e.items[0].IsActive = result.IsActive;
                                 e.items[0].LineNumber = result.LineNumber;
                                 e.items[0].Name = result.Name;
                                 e.items[0].Authority = result.Authority;
                                 e.items[0].CreateDate = kendo.parseDate(result.CreateDate);
                                 e.items[0].CreatedUserId = result.CreatedUserId;
                                 e.items[0].UpdateDate = kendo.parseDate(result.UpdateDate);
                                 e.items[0].UpdatedUserId = result.UpdatedUserId;
                                 //computed alanların tanımlanması
                                 e.items[0].CcIsActive = result.CcIsActive;
                                 //filterdan gelen default value set için
                                 $(self.opt.filters).each(function (index, row) {
                                     if (row.filterColumnName !== 'Id') {
                                        e.items[0].set(row.filterColumnName, row.filterValue);
                                     }
                                 });

                             },
                             error: function (xhr, status) {
                                 mnErrorHandler.Handle(xhr);
                             }
                         });
                     }
                 }
                 // ve gerekebilecek diğer işlemler
                 // ...
             }
         });
     }

     function fCreateGrid() {
         self.grid = $(self.selector).find('#divGrid').kendoGrid({
             excel: { allPages: true, fileName: mnLang.TranslateWithWord(self.title) },
             excelExport: mnApp.exportGridWithTemplatesContentForKendo,
             autoBind: false, resizable: true, reorderable: true,
             sortable: { mode: 'multiple', allowUnsort: true, showIndexes: true },
             pageable: {
                 refresh: true, pageSizes: mnApp.gridPageSizes_default, buttonCount: 5, input: true,
                 messages: { itemsPerPage: '' }
             },
             editable: {
                 confirmation: true, mode: 'inline', createAt: 'bottom'
             },
             columns: [
             {
                 locked: true,
                 headerTemplate: '<span id="btnEkle" style=" " title="' + mnLang.TranslateWithWord("xLng.Ekle") + '" ></span>'+'<span id="btnSaveAsExcel" style=" " title="' + mnLang.TranslateWithWord("xLng.SaveAsExcel") + '" ></span>',
                 width: '95px',
                 command: [
                     { name: 'edit', buttonType: 'ImageAndText', text: { cancel: '', update: '', edit: '' }, attr: 'style=" " data-langkey-title="xLng.Duzelt" ' },
                     { name: 'destroy', buttonType: 'ImageAndText', text: '', attr: 'style=" " data-langkey-title="xLng.Sil"' }
                 ]
             },
             {
                 hidden: ![11,21,31,41].includes(mnUser.Info.nYetkiGrup),
                 title: mnLang.TranslateWithWord('xLng.Role.IsActive'),
                 field: 'IsActive',
                 template: '#:CcIsActive#',
                 attributes: { 'class': 'text-nowrap' },
                 width: '80px'
             },

             {
                 hidden: ![11,21,31,41].includes(mnUser.Info.nYetkiGrup),
                 title: mnLang.TranslateWithWord('xLng.Role.LineNumber'),
                 field: 'LineNumber',
                 format: '{0:n0}',
                 width: '90px'
             },

             {
                 hidden: ![11,21,31,41].includes(mnUser.Info.nYetkiGrup),
                 title: mnLang.TranslateWithWord('xLng.Role.Name'),
                 field: 'Name',
                 width: '200px'
             },

             {
                 hidden: ![11,21,31,41].includes(mnUser.Info.nYetkiGrup),
                 title: mnLang.TranslateWithWord('xLng.Role.Authority'),
                 field: 'Authority',
                 width: '500px'
             },

             {
                 hidden: ![11,21,31,41].includes(mnUser.Info.nYetkiGrup),
                 title: mnLang.TranslateWithWord('xLng.Role.CreateDate'),
                 field: 'CreateDate',
                 format: '{0:g}',
                 attributes: { 'class': 'text-nowrap' },
                 width: '145px'
             },

             {}
             ],
             edit: function (e) {
                 var model=e.model;
                 this.cancelRow();
                 mnPopupView.create({
                     viewFolder: 'Role',
                     viewName: 'RoleForForm',
                     subTitle: mnLang.TranslateWithWord('xLng.DuzenlemeIslemleri'),
                     onShow: function (e) {
                        var qprms = { 'Id': model.Id };
                         e.beforeShow({'ownerViewName':'RoleForGrid', 'qprms': qprms });
                     },
                     onClose: function (e) {
                         self.dataSource.read();
                     }
                 });
             },
             cancel: function (e) {
                 if (e.model.id !== null) {
                     e.sender.refresh(); //databound da renklendirme ve button set etme var ise ,cancelden sonra databound çalışmıyor(yetki,renk style ayarlanamıyor) bununla refresh ediyosun
                 }
             },
             dataBound: function (e) {
                var data = e.sender.dataSource.data();
                 //yetki
                 self.YetkiUygula(data);

                 // Language
                 mnLang.TranslateWithSelector(e.sender.wrapper);

                 //row style
             },
             dataSource: self.dataSource
         }).getKendoGrid();

         self.grid.wrapper.find('#btnEkle').kendoButton({
             icon: 'plus',
             click: function () {
                 mnPopupView.create({
                     viewFolder: 'Role',
                     viewName: 'RoleForForm',
                     subTitle: mnLang.TranslateWithWord('xLng.DuzenlemeIslemleri'),
                     onShow: function (e) {
                        var qprms = { 'Id': null };
                         e.beforeShow({'ownerViewName':'RoleForGrid', 'qprms': qprms });
                     },
                     onClose: function (e) {
                         self.dataSource.read();
                     }
                 });
             }
         });

         self.grid.wrapper.find('#btnSaveAsExcel').kendoButton({
             icon: 'file-excel',
             click: function () {
                 kendo.ui.progress(self.grid.wrapper, true); //progress On
                 self.grid.saveAsExcel();
             }
         });
     }

     function fCreateFindElements() {
         // Find Panel
         self.mnFindPanel = $(self.selector).find('.mnFindPanel').kendoExpansionPanel({
             title: mnLang.TranslateWithWord('xLng.Filtrele')
         }).data('kendoExpansionPanel');

         // filter buton
         $(self.selector).find('#btnFlitreUygula').click(function (e) {
             self.filter();
         });

         // filter tetikleyicileri
         $(self.selector).find('[data-find_option]').keydown(function (e) {
             if (e.which === 13) {
                 e.preventDefault();
                 self.filter();
             }
         });

         // Filter elementleri
     }

     self.YetkiUygula = function (_data) {
         //Standart Yetkiler
         var _C = mnUser.isYetkili(self.tableName + '.D_C.');
         var _U = mnUser.isYetkili(self.tableName + '.D_U.');
         var _D = mnUser.isYetkili(self.tableName + '.D_D.');
         var _E = mnUser.isYetkili(self.tableName + '.D_E.');

         //ek yetkiler için
         //...

        //form element görünümleri
        var fieldList = [];
        fieldList.push({ 'Name': 'Name', 'Visible': '11,21,31,41'.indexOf(mnUser.Info.nYetkiGrup) >= 0 });

        for (var i in fieldList) {
            var $elm = $(self.selector).find('.mnFindElementContainer .mnFindElementDiv[name=div' + fieldList[i].Name + ']');
            if (fieldList[i].Visible) {
                $elm.show();
            } else {
                $elm.hide();
            }
        }

         //grid ekle button için
         mnApi.controlShowHide(self.grid.wrapper.find('#btnEkle'), _C);
         //grid exel button için
         mnApi.controlShowHide(self.grid.wrapper.find('#btnSaveAsExcel'), _E);

         //grid rows için
         $.each(_data, function (i, row) {
             var _tr = self.grid.wrapper.find('tr[data-uid=' + row.uid + ']');
             var tr_U = _U;
             var tr_D = _D;

             //update-delete button için
             mnApi.controlEnable(_tr.find('.k-grid-delete'), tr_D);


             //row değerine göre yetkiler
             //...

         });
     };

     self.prepare = function () {
         // DataSource
         fCreateDataSource();

         // find Elementler
         fCreateFindElements();

         // Grid
         fCreateGrid();

         // Language
         mnLang.TranslateWithSelector(self.selector);
     };

     self.beforeShow = function (_opt) {
         self.opt = $.extend({}, _opt);

         self.filter();

     };

     self.filter = function (_data) {
         self.dataSource.filter(mnApp.find_options_ToFilterList(self));
     };

     self.close = function () {
         if ($(self.selector).closest('.k-window-content').getKendoWindow()) {
             $(self.selector).closest('.k-window-content').getKendoWindow().close(); // popup ise
         } else {
             $(self.selector).closest('.mnPageView').find('#btnGeri').click(); // page ise
         }
     };

     return self;
 }();
</script>
