
<div id='ViewChangePassword'>
    <div style="padding : 0px 15px;">
        <div class="form-group row">
            <label for="sOldPassword" class="col-md-4 col-form-label pr-0"><span data-langkey-Text="xLng.EskiSifre"></span></label>
            <div class="col-md-8">
                <input name='sOldPassword' type="password" class='k-textbox' data-langkey-placeholder="xLng.EskiSifre" required autocomplete='off' />
                <span class="k-invalid-msg" data-for="sOldPassword"></span>
            </div>
        </div>

        <div class="form-group row">
            <label for="sNewPassword" class="col-md-4 col-form-label pr-0"><span data-langkey-Text="xLng.Sifre"></span></label>
            <div class="col-md-8">
                <input name='sNewPassword' type="password" class='k-textbox' data-langkey-placeholder="xLng.Sifre" required pattern="^(?=.*[A-Za-z])(?=.*\d).{8,}$" data-langkey-validationMessage="xLng.EnAzAltiKarekterBirHarfBirSayi" autocomplete='off' />
            </div>
        </div>

        <div class="form-group row">
            <label for="sConfirmPassword" class="col-md-4 col-form-label pr-0"><span data-langkey-Text="xLng.SifreOnay"></span></label>
            <div class="col-md-8">
                <input name='sConfirmPassword' type="password" class='k-textbox' data-langkey-placeholder="xLng.SifreOnay" required autocomplete='off' />
            </div>
        </div>

        <div class="form-group row">
            <label for="sSecurityCode" class="col-md-4 col-form-label pr-0"><span data-langkey-Text="xLng.GuvenlikKodu"></span></label>
            <div class="col-md-8">
                <div class="input-group" style="border:1px solid #ceced2; border-bottom-width:0px;">
                    <input id="captchaImage" type="image" class="form-control" tabindex="-1" style="cursor:default; padding:0px; border:none; box-shadow:none; height:36px;" src="">
                    <span class="input-group-btn">
                        <button id="btnSecurityCode" class="btn btn-light" type="button" tabindex="-1" style="cursor:pointer; padding: 5px 10px;"><i class="fa fa-refresh"></i></button>
                    </span>
                </div>
                <input name='captchaToken' type="hidden" value="@ViewBag.CaptchaToken" />
                <input name='sSecurityCode' type="text" class='k-textbox' data-langkey-placeholder="xLng.GuvenlikKodu" style="position: relative; z-index: 2;" required value="" autocomplete='off' />
            </div>
        </div>

        <div class="form-group row">
            <label class="col-md-4 col-form-label pr-0"></label>
            <div class="col-md-8">
                <button id="btnOnayla" type="button" class="btn btn-outline-primary"> <i class="fa fa-key"></i> <span data-langkey-Text="xLng.Onayla"></span> </button>
                <i id="icoProgress" class="fa fa-spinner fa-spin fa-fw" style="display:none;"></i>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-md-12 text-center" style="max-width:410px;">
                <p id="pMessage" class="h6 text-info" style="display:none;"></p>
            </div>
        </div>
        
    </div>
</div>


<script>
    window.ViewChangePassword = function () {
        var self = {};
        self.opt = null;
        self.title = 'xLng.SifreDegistir';
        self.selector = '#ViewChangePassword';

        function fReadCaptcha() {
            $.ajax({
                url: "/Cms/Api/CreateCaptcha",
                type: "POST", dataType: "json", contentType: "application/json; charset=utf-8",
                success: function (result, textStatus, jqXHR) {
                    if (result.Success == true) {
                        $(self.selector).find("[name=captchaToken]").val(result.Data.CaptchaToken);
                        $(self.selector).find("#captchaImage").attr("src", result.Data.CaptchaImage);
                    } else {
                        mnAlert.warning(result.Messages);
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    mnAlert.error(jqXHR.responseText);
                }
            });
        }

        function fChangePassword() {
            var _data = {
                OldPassword: $(self.selector).find("[name='sOldPassword']").val(),
                NewPassword: $(self.selector).find("[name='sNewPassword']").val(),
                CaptchaCode: $(self.selector).find("[name='sSecurityCode']").val(),
                CaptchaToken: $(self.selector).find("[name=captchaToken]").val()
            };

            $.ajax({
                url: "/Cms/Api/ChangePassword",
                data: JSON.stringify(_data),
                type: "POST", dataType: "json", contentType: "application/json; charset=utf-8",
                beforeSend: function (jqXHR, settings) {
                    setTimeout(function () {
                        kendo.ui.progress($(self.selector), true); //progress On
                    });
                },
                complete: function (jqXHR, textStatus) {
                    setTimeout(function () {
                        kendo.ui.progress($(self.selector), false); //progress Off
                    });
                },
                success: function (result, textStatus, jqXHR) {
                    if (result.Success== true) {
                        mnAlert.success(result.Messages);
                        self.opt.isPasswordChanged = true;
                        self.close();
                    } else {
                        mnAlert.warning(result.Messages);
                        fReadCaptcha();
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    alert("(" + jqXHR.status + ") " + jqXHR.statusText + "\n" + this.url);
                }
            });

        }

        
        self.prepare = function () {

            //validator
            self.validator = $(self.selector).kendoValidator({
                errorTemplate: mnApp.validatorErrorTemplateTextMsg,
                messages: {
                    required: mnLang.TranslateWithWord('xLng.Gerekli'),
                    validmask: mnLang.TranslateWithWord('xLng.Gecersiz'),
                    verifyPasswords: mnLang.TranslateWithWord('xLng.SifrelerUyusmuyor')
                },
                validate: function (e) {
                    //genel olarak validate çağrıldığında, console.log('valid' + e.valid);
                },
                validateInput: function (e) {
                    //Her eleman için validate edilince, console.log('input ' + e.input.attr('name') + ' changed to valid: ' + e.valid);
                    var $elm = $(e.input);
                    if ($elm.hasClass('k-textbox')) {
                        $elm = $(e.input);
                    } else if ($elm.attr('type') === 'hidden') {
                        $elm = $elm.closest('.k-textbox');
                    } else if ($elm.closest('.k-widget').hasClass('k-widget')) {
                        $elm = $elm.closest('.k-widget');
                    }

                    if (e.valid) {
                        $elm.removeClass('is-invalid').addClass('is-valid');
                    } else {
                        $elm.addClass('is-invalid').removeClass('is-valid');
                    }
                },
                rules: {
                    custom: function (input) {
                        //Get the MultiSelect instance
                        var ms = input.data('kendoMultiSelect');
                        if (ms !== undefined) {
                            if (input.is('[min]') && ms.value().length < $(input).attr('min')) {
                                return false;
                            }
                        }
                        return true;
                    },
                    verifyPasswords: function (input) {
                        var ret = true;
                        if (input.is("[name=sConfirmPassword]")) {
                            ret = input.val() === $("[name=sNewPassword]").val();
                        }
                        return ret;
                    }
                }
            }).getKendoValidator();

            //Captcha
            $(self.selector).find("#btnSecurityCode").click(function () {
                fReadCaptcha();
            });

            //
            $(self.selector).find("#btnOnayla").click(function () {
                if (self.validator.validate()) {
                    fChangePassword();
                }
            });


            // Language
            mnLang.TranslateWithSelector(self.selector);
        };

        self.beforeShow = function (_opt) {
            self.opt = $.extend({}, _opt);
            self.opt.isPasswordChanged = false;

            $(self.selector).find("[name='sOldPassword']").val("");
            $(self.selector).find("[name='sNewPassword']").val("");
            $(self.selector).find("[name='sConfirmPassword']").val("");
            $(self.selector).find("[name='sSecurityCode']").val("");
            $(self.selector).find("[name=captchaToken]").val("");

            fReadCaptcha();
        };

        self.close = function () {
            if ($(self.selector).closest('.k-window-content').getKendoWindow()) {
                $(self.selector).closest('.k-window-content').getKendoWindow().close(); // popup ise
            } else {
                $(self.selector).closest('.mnPageView').find('#btnGeri').click(); // page ise
            }
        };

        return self;
    }();
</script>